/**
 * Base16 Sequoia Monochrome Light ROFI Color theme
 *
 * Authors
 *  Scheme: Micheal Andreuzza (https://michaelandreuzza.com/)
 *  Template: Tinted Theming (https://github.com/tinted-theming)
 */

* {
    red:                         rgba ( 82, 86, 102, 100 % );
    blue:                        rgba ( 95, 99, 112, 100 % );
    lightfg:                     rgba ( 40, 41, 48, 100 % );
    lightbg:                     rgba ( 226, 227, 232, 100 % );
    foreground:                  rgba ( 40, 41, 48, 100 % );
    background:                  rgba ( 237, 238, 242, 100 % );
    background-color:            rgba ( 237, 238, 242, 0 % );
    separatorcolor:              @foreground;
    border-color:                @foreground;
    selected-normal-foreground:  @lightbg;
    selected-normal-background:  @lightfg;
    selected-active-foreground:  @background;
    selected-active-background:  @blue;
    selected-urgent-foreground:  @background;
    selected-urgent-background:  @red;
    normal-foreground:           @foreground;
    normal-background:           @background;
    active-foreground:           @blue;
    active-background:           @background;
    urgent-foreground:           @red;
    urgent-background:           @background;
    alternate-normal-foreground: @foreground;
    alternate-normal-background: @lightbg;
    alternate-active-foreground: @blue;
    alternate-active-background: @lightbg;
    alternate-urgent-foreground: @red;
    alternate-urgent-background: @lightbg;
}
