/**
 * Base16 Serendipity Morning ROFI Color theme
 *
 * Authors
 *  Scheme: Micheal Andreuzza (https://michaelandreuzza.com/)
 *  Template: Tinted Theming (https://github.com/tinted-theming)
 */

* {
    red:                         rgba ( 194, 90, 77, 100 % );
    blue:                        rgba ( 98, 136, 216, 100 % );
    lightfg:                     rgba ( 63, 67, 99, 100 % );
    lightbg:                     rgba ( 234, 235, 238, 100 % );
    foreground:                  rgba ( 63, 67, 99, 100 % );
    background:                  rgba ( 246, 247, 251, 100 % );
    background-color:            rgba ( 246, 247, 251, 0 % );
    separatorcolor:              @foreground;
    border-color:                @foreground;
    selected-normal-foreground:  @lightbg;
    selected-normal-background:  @lightfg;
    selected-active-foreground:  @background;
    selected-active-background:  @blue;
    selected-urgent-foreground:  @background;
    selected-urgent-background:  @red;
    normal-foreground:           @foreground;
    normal-background:           @background;
    active-foreground:           @blue;
    active-background:           @background;
    urgent-foreground:           @red;
    urgent-background:           @background;
    alternate-normal-foreground: @foreground;
    alternate-normal-background: @lightbg;
    alternate-active-foreground: @blue;
    alternate-active-background: @lightbg;
    alternate-urgent-foreground: @red;
    alternate-urgent-background: @lightbg;
}
