! Base16 Gruvbox dark, pale
! Author: Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)

! base00: #262626
! base01: #3a3a3a
! base02: #4e4e4e
! base03: #8a8a8a
! base04: #949494
! base05: #dab997
! base06: #d5c4a1
! base07: #ebdbb2
! base08: #d75f5f
! base09: #ff8700
! base0A: #ffaf00
! base0B: #afaf00
! base0C: #85ad85
! base0D: #83adad
! base0E: #d485ad
! base0F: #d65d0e

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #3a3a3a, #3a3a3a, #262626

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #3a3a3a, #dab997, #3a3a3a, #3a3a3a, #ebdbb2
rofi.color-active:  #3a3a3a, #83adad, #3a3a3a, #3a3a3a, #83adad
rofi.color-urgent:  #3a3a3a, #d75f5f, #3a3a3a, #3a3a3a, #d75f5f

! Set the desired separator style
rofi.separator-style: solid
