! Base16 Dark Violet
! Author: ruler501 (https://github.com/ruler501/base16-darkviolet)

! base00: #000000
! base01: #231a40
! base02: #432d59
! base03: #593380
! base04: #00ff00
! base05: #b08ae6
! base06: #9045e6
! base07: #a366ff
! base08: #a82ee6
! base09: #bb66cc
! base0A: #f29df2
! base0B: #4595e6
! base0C: #40dfff
! base0D: #4136d9
! base0E: #7e5ce6
! base0F: #a886bf

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #231a40, #231a40, #000000

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #231a40, #b08ae6, #231a40, #231a40, #a366ff
rofi.color-active:  #231a40, #4136d9, #231a40, #231a40, #4136d9
rofi.color-urgent:  #231a40, #a82ee6, #231a40, #231a40, #a82ee6

! Set the desired separator style
rofi.separator-style: solid
