! Base16 Codeschool
! Author: blockloop

! base00: #232c31
! base01: #1c3657
! base02: #2a343a
! base03: #3f4944
! base04: #84898c
! base05: #9ea7a6
! base06: #a7cfa3
! base07: #b5d8f6
! base08: #2a5491
! base09: #43820d
! base0A: #a03b1e
! base0B: #237986
! base0C: #b02f30
! base0D: #484d79
! base0E: #c59820
! base0F: #c98344

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #1c3657, #1c3657, #232c31

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #1c3657, #9ea7a6, #1c3657, #1c3657, #b5d8f6
rofi.color-active:  #1c3657, #484d79, #1c3657, #1c3657, #484d79
rofi.color-urgent:  #1c3657, #2a5491, #1c3657, #1c3657, #2a5491

! Set the desired separator style
rofi.separator-style: solid
