! Base16 PaperColor Light
! Scheme author: Jon Leopard (http://github.com/jonleopard), Tinted Theming (https://github.com/tinted-theming), based on PaperColor Theme (https://github.com/NLKNguyen/papercolor-theme)
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #eeeeee
! base01: #c4c4c4
! base02: #9e9e9e
! base03: #858585
! base04: #6b6b6b
! base05: #5e5e5e
! base06: #525252
! base07: #444444
! base08: #d70000
! base09: #d75f00
! base0A: #d75f00
! base0B: #008700
! base0C: #0087af
! base0D: #005f87
! base0E: #8700af
! base0F: #af0000

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #c4c4c4, #c4c4c4, #eeeeee

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #c4c4c4, #5e5e5e, #c4c4c4, #c4c4c4, #444444
rofi.color-active:  #c4c4c4, #005f87, #c4c4c4, #c4c4c4, #005f87
rofi.color-urgent:  #c4c4c4, #d70000, #c4c4c4, #c4c4c4, #d70000

! Set the desired separator style
rofi.separator-style: solid
