! Base16 Monokai
! Author: Wimer Hazenberg (http://www.monokai.nl)

! base00: #272822
! base01: #383830
! base02: #49483e
! base03: #75715e
! base04: #a59f85
! base05: #f8f8f2
! base06: #f5f4f1
! base07: #f9f8f5
! base08: #f92672
! base09: #fd971f
! base0A: #f4bf75
! base0B: #a6e22e
! base0C: #a1efe4
! base0D: #66d9ef
! base0E: #ae81ff
! base0F: #cc6633

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #383830, #383830, #272822

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #383830, #f8f8f2, #383830, #383830, #f9f8f5
rofi.color-active:  #383830, #66d9ef, #383830, #383830, #66d9ef
rofi.color-urgent:  #383830, #f92672, #383830, #383830, #f92672

! Set the desired separator style
rofi.separator-style: solid
