! Base16 Stella
! Scheme author: Shrimpram
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #2b213c
! base01: #362b48
! base02: #4d4160
! base03: #655978
! base04: #7f7192
! base05: #998bad
! base06: #b4a5c8
! base07: #ebdcff
! base08: #c79987
! base09: #8865c6
! base0A: #c7c691
! base0B: #acc79b
! base0C: #9bc7bf
! base0D: #a5aad4
! base0E: #c594ff
! base0F: #c7ab87

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #362b48, #362b48, #2b213c

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #362b48, #998bad, #362b48, #362b48, #ebdcff
rofi.color-active:  #362b48, #a5aad4, #362b48, #362b48, #a5aad4
rofi.color-urgent:  #362b48, #c79987, #362b48, #362b48, #c79987

! Set the desired separator style
rofi.separator-style: solid
