! Base16 Moonlight
! Scheme author: Jeremy Swinarton (https://github.com/jswinarton)
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #212337
! base01: #403c64
! base02: #596399
! base03: #748cd6
! base04: #a1abe0
! base05: #a3ace1
! base06: #b4a4f4
! base07: #ef43fa
! base08: #ff5370
! base09: #f67f81
! base0A: #ffc777
! base0B: #2df4c0
! base0C: #04d1f9
! base0D: #40ffff
! base0E: #b994f1
! base0F: #ecb2f0

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #403c64, #403c64, #212337

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #403c64, #a3ace1, #403c64, #403c64, #ef43fa
rofi.color-active:  #403c64, #40ffff, #403c64, #403c64, #40ffff
rofi.color-urgent:  #403c64, #ff5370, #403c64, #403c64, #ff5370

! Set the desired separator style
rofi.separator-style: solid
