! Base16 Apprentice
! Author: romainl

! base00: #262626
! base01: #303030
! base02: #333333
! base03: #6C6C6C
! base04: #787878
! base05: #BCBCBC
! base06: #C9C9C9
! base07: #FFFFFF
! base08: #5F8787
! base09: #FF8700
! base0A: #5F8787
! base0B: #87AF87
! base0C: #5F875F
! base0D: #FFFFAF
! base0E: #87AFD7
! base0F: #5F87AF

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #303030, #303030, #262626

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #303030, #BCBCBC, #303030, #303030, #FFFFFF
rofi.color-active:  #303030, #FFFFAF, #303030, #303030, #FFFFAF
rofi.color-urgent:  #303030, #5F8787, #303030, #303030, #5F8787

! Set the desired separator style
rofi.separator-style: solid
