! Base16 Jabuti
! Scheme author: https://github.com/notusknot
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #292a37
! base01: #343545
! base02: #3c3e51
! base03: #45475d
! base04: #50526b
! base05: #c0cbe3
! base06: #d9e0ee
! base07: #ffffff
! base08: #ec6a88
! base09: #efb993
! base0A: #e1c697
! base0B: #3fdaa4
! base0C: #ff7eb6
! base0D: #3fc6de
! base0E: #be95ff
! base0F: #8b8da9

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #343545, #343545, #292a37

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #343545, #c0cbe3, #343545, #343545, #ffffff
rofi.color-active:  #343545, #3fc6de, #343545, #343545, #3fc6de
rofi.color-urgent:  #343545, #ec6a88, #343545, #343545, #ec6a88

! Set the desired separator style
rofi.separator-style: solid
