! Base16 Nord Light
! Scheme author: threddast, based on fuxialexander&#39;s doom-nord-light-theme (Doom Emacs)
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #e5e9f0
! base01: #c2d0e7
! base02: #b8c5db
! base03: #aebacf
! base04: #60728c
! base05: #2e3440
! base06: #3b4252
! base07: #29838d
! base08: #99324b
! base09: #ac4426
! base0A: #9a7500
! base0B: #4f894c
! base0C: #398eac
! base0D: #3b6ea8
! base0E: #97365b
! base0F: #5272af

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #c2d0e7, #c2d0e7, #e5e9f0

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #c2d0e7, #2e3440, #c2d0e7, #c2d0e7, #29838d
rofi.color-active:  #c2d0e7, #3b6ea8, #c2d0e7, #c2d0e7, #3b6ea8
rofi.color-urgent:  #c2d0e7, #99324b, #c2d0e7, #c2d0e7, #99324b

! Set the desired separator style
rofi.separator-style: solid
