! Base16 Bright
! Author: Chris Kempson (http://chriskempson.com)

! base00: #000000
! base01: #303030
! base02: #505050
! base03: #b0b0b0
! base04: #d0d0d0
! base05: #e0e0e0
! base06: #f5f5f5
! base07: #ffffff
! base08: #fb0120
! base09: #fc6d24
! base0A: #fda331
! base0B: #a1c659
! base0C: #76c7b7
! base0D: #6fb3d2
! base0E: #d381c3
! base0F: #be643c

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #303030, #303030, #000000

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #303030, #e0e0e0, #303030, #303030, #ffffff
rofi.color-active:  #303030, #6fb3d2, #303030, #303030, #6fb3d2
rofi.color-urgent:  #303030, #fb0120, #303030, #303030, #fb0120

! Set the desired separator style
rofi.separator-style: solid
