! Base16 Catppuccin Macchiato
! Scheme author: https://github.com/catppuccin/catppuccin
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #24273a
! base01: #1e2030
! base02: #363a4f
! base03: #494d64
! base04: #5b6078
! base05: #cad3f5
! base06: #f4dbd6
! base07: #b7bdf8
! base08: #ed8796
! base09: #f5a97f
! base0A: #eed49f
! base0B: #a6da95
! base0C: #8bd5ca
! base0D: #8aadf4
! base0E: #c6a0f6
! base0F: #f0c6c6

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #1e2030, #1e2030, #24273a

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #1e2030, #cad3f5, #1e2030, #1e2030, #b7bdf8
rofi.color-active:  #1e2030, #8aadf4, #1e2030, #1e2030, #8aadf4
rofi.color-urgent:  #1e2030, #ed8796, #1e2030, #1e2030, #ed8796

! Set the desired separator style
rofi.separator-style: solid
