! Base16 Edge Dark
! Author: cjayross (https://github.com/cjayross)

! base00: #262729
! base01: #88909f
! base02: #b7bec9
! base03: #3e4249
! base04: #73b3e7
! base05: #b7bec9
! base06: #d390e7
! base07: #3e4249
! base08: #e77171
! base09: #e77171
! base0A: #dbb774
! base0B: #a1bf78
! base0C: #5ebaa5
! base0D: #73b3e7
! base0E: #d390e7
! base0F: #5ebaa5

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #88909f, #88909f, #262729

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #88909f, #b7bec9, #88909f, #88909f, #3e4249
rofi.color-active:  #88909f, #73b3e7, #88909f, #88909f, #73b3e7
rofi.color-urgent:  #88909f, #e77171, #88909f, #88909f, #e77171

! Set the desired separator style
rofi.separator-style: solid
