! Base16 Windows NT Light
! Author: Fergus Collins (https://github.com/C-Fergus)

! base00: #ffffff
! base01: #eaeaea
! base02: #d5d5d5
! base03: #c0c0c0
! base04: #a0a0a0
! base05: #808080
! base06: #404040
! base07: #000000
! base08: #800000
! base09: #ffff00
! base0A: #808000
! base0B: #008000
! base0C: #008080
! base0D: #000080
! base0E: #800080
! base0F: #00ff00

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #eaeaea, #eaeaea, #ffffff

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #eaeaea, #808080, #eaeaea, #eaeaea, #000000
rofi.color-active:  #eaeaea, #000080, #eaeaea, #eaeaea, #000080
rofi.color-urgent:  #eaeaea, #800000, #eaeaea, #eaeaea, #800000

! Set the desired separator style
rofi.separator-style: solid
