! Base16 Materia
! Author: Defman21

! base00: #263238
! base01: #2c393f
! base02: #37474f
! base03: #707880
! base04: #c9ccd3
! base05: #cdd3de
! base06: #d5dbe5
! base07: #ffffff
! base08: #ec5f67
! base09: #ea9560
! base0A: #ffcc00
! base0B: #8bd649
! base0C: #80cbc4
! base0D: #89ddff
! base0E: #82aaff
! base0F: #ec5f67

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #2c393f, #2c393f, #263238

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #2c393f, #cdd3de, #2c393f, #2c393f, #ffffff
rofi.color-active:  #2c393f, #89ddff, #2c393f, #2c393f, #89ddff
rofi.color-urgent:  #2c393f, #ec5f67, #2c393f, #2c393f, #ec5f67

! Set the desired separator style
rofi.separator-style: solid
