! Base16 Icy Dark
! Author: icyphox (https://icyphox.ga)

! base00: #021012
! base01: #031619
! base02: #041f23
! base03: #052e34
! base04: #064048
! base05: #095b67
! base06: #0c7c8c
! base07: #109cb0
! base08: #16c1d9
! base09: #b3ebf2
! base0A: #80deea
! base0B: #4dd0e1
! base0C: #26c6da
! base0D: #00bcd4
! base0E: #00acc1
! base0F: #0097a7

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #031619, #031619, #021012

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #031619, #095b67, #031619, #031619, #109cb0
rofi.color-active:  #031619, #00bcd4, #031619, #031619, #00bcd4
rofi.color-urgent:  #031619, #16c1d9, #031619, #031619, #16c1d9

! Set the desired separator style
rofi.separator-style: solid
