! Base16 Equilibrium Gray Light
! Author: Carlo Abelli

! base00: #f1f1f1
! base01: #e2e2e2
! base02: #d4d4d4
! base03: #777777
! base04: #5e5e5e
! base05: #474747
! base06: #303030
! base07: #1b1b1b
! base08: #d02023
! base09: #bf3e05
! base0A: #9d6f00
! base0B: #637200
! base0C: #007a72
! base0D: #0073b5
! base0E: #4e66b6
! base0F: #c42775

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #e2e2e2, #e2e2e2, #f1f1f1

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #e2e2e2, #474747, #e2e2e2, #e2e2e2, #1b1b1b
rofi.color-active:  #e2e2e2, #0073b5, #e2e2e2, #e2e2e2, #0073b5
rofi.color-urgent:  #e2e2e2, #d02023, #e2e2e2, #e2e2e2, #d02023

! Set the desired separator style
rofi.separator-style: solid
