! Base16 Atelier Sulphurpool Light
! Author: Bram de Haan (http://atelierbramdehaan.nl)

! base00: #f5f7ff
! base01: #dfe2f1
! base02: #979db4
! base03: #898ea4
! base04: #6b7394
! base05: #5e6687
! base06: #293256
! base07: #202746
! base08: #c94922
! base09: #c76b29
! base0A: #c08b30
! base0B: #ac9739
! base0C: #22a2c9
! base0D: #3d8fd1
! base0E: #6679cc
! base0F: #9c637a

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #dfe2f1, #dfe2f1, #f5f7ff

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #dfe2f1, #5e6687, #dfe2f1, #dfe2f1, #202746
rofi.color-active:  #dfe2f1, #3d8fd1, #dfe2f1, #dfe2f1, #3d8fd1
rofi.color-urgent:  #dfe2f1, #c94922, #dfe2f1, #dfe2f1, #c94922

! Set the desired separator style
rofi.separator-style: solid
