! Base16 Penumbra Light
! Scheme author: Zachary Weiss (https://github.com/zacharyweiss)
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #fffdfb
! base01: #fff7ed
! base02: #f2e6d4
! base03: #bebebe
! base04: #8f8f8f
! base05: #636363
! base06: #303338
! base07: #24272b
! base08: #ca736c
! base09: #ba823a
! base0A: #8d9741
! base0B: #47a477
! base0C: #00a2af
! base0D: #5794d0
! base0E: #9481cc
! base0F: #bc73a4

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #fff7ed, #fff7ed, #fffdfb

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #fff7ed, #636363, #fff7ed, #fff7ed, #24272b
rofi.color-active:  #fff7ed, #5794d0, #fff7ed, #fff7ed, #5794d0
rofi.color-urgent:  #fff7ed, #ca736c, #fff7ed, #fff7ed, #ca736c

! Set the desired separator style
rofi.separator-style: solid
