! Base16 Windows High Contrast Light
! Author: Fergus Collins (https://github.com/C-Fergus)

! base00: #fcfcfc
! base01: #e8e8e8
! base02: #d4d4d4
! base03: #c0c0c0
! base04: #7e7e7e
! base05: #545454
! base06: #2a2a2a
! base07: #000000
! base08: #800000
! base09: #fcfc54
! base0A: #808000
! base0B: #008000
! base0C: #008080
! base0D: #000080
! base0E: #800080
! base0F: #54fc54

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #e8e8e8, #e8e8e8, #fcfcfc

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #e8e8e8, #545454, #e8e8e8, #e8e8e8, #000000
rofi.color-active:  #e8e8e8, #000080, #e8e8e8, #e8e8e8, #000080
rofi.color-urgent:  #e8e8e8, #800000, #e8e8e8, #e8e8e8, #800000

! Set the desired separator style
rofi.separator-style: solid
