! Base16 Atelier Heath Light
! Author: Bram de Haan (http://atelierbramdehaan.nl)

! base00: #f7f3f7
! base01: #d8cad8
! base02: #ab9bab
! base03: #9e8f9e
! base04: #776977
! base05: #695d69
! base06: #292329
! base07: #1b181b
! base08: #ca402b
! base09: #a65926
! base0A: #bb8a35
! base0B: #918b3b
! base0C: #159393
! base0D: #516aec
! base0E: #7b59c0
! base0F: #cc33cc

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #d8cad8, #d8cad8, #f7f3f7

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #d8cad8, #695d69, #d8cad8, #d8cad8, #1b181b
rofi.color-active:  #d8cad8, #516aec, #d8cad8, #d8cad8, #516aec
rofi.color-urgent:  #d8cad8, #ca402b, #d8cad8, #d8cad8, #ca402b

! Set the desired separator style
rofi.separator-style: solid
