! Base16 Dracula
! Author: Mike Barkmin (http://github.com/mikebarkmin) based on Dracula Theme (http://github.com/dracula)

! base00: #282936
! base01: #3a3c4e
! base02: #4d4f68
! base03: #626483
! base04: #62d6e8
! base05: #e9e9f4
! base06: #f1f2f8
! base07: #f7f7fb
! base08: #ea51b2
! base09: #b45bcf
! base0A: #00f769
! base0B: #ebff87
! base0C: #a1efe4
! base0D: #62d6e8
! base0E: #b45bcf
! base0F: #00f769

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #3a3c4e, #3a3c4e, #282936

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #3a3c4e, #e9e9f4, #3a3c4e, #3a3c4e, #f7f7fb
rofi.color-active:  #3a3c4e, #62d6e8, #3a3c4e, #3a3c4e, #62d6e8
rofi.color-urgent:  #3a3c4e, #ea51b2, #3a3c4e, #3a3c4e, #ea51b2

! Set the desired separator style
rofi.separator-style: solid
