! Base16 Synth Midnight Dark
! Author: Michaël Ball (http://github.com/michael-ball/)

! base00: #040404
! base01: #141414
! base02: #242424
! base03: #61507a
! base04: #bfbbbf
! base05: #dfdbdf
! base06: #efebef
! base07: #fffbff
! base08: #b53b50
! base09: #e4600e
! base0A: #dae84d
! base0B: #06ea61
! base0C: #7cede9
! base0D: #03aeff
! base0E: #ea5ce2
! base0F: #9d4d0e

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #141414, #141414, #040404

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #141414, #dfdbdf, #141414, #141414, #fffbff
rofi.color-active:  #141414, #03aeff, #141414, #141414, #03aeff
rofi.color-urgent:  #141414, #b53b50, #141414, #141414, #b53b50

! Set the desired separator style
rofi.separator-style: solid
