! Base16 Eldritch
! Scheme author: https://github.com/eldritch-theme
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #212337
! base01: #323449
! base02: #3b4261
! base03: #7081d0
! base04: #a1abe0
! base05: #ebfafa
! base06: #f0f2f4
! base07: #ffffff
! base08: #f16c75
! base09: #f7c67f
! base0A: #f1fc79
! base0B: #37f499
! base0C: #04d1f9
! base0D: #39ddfd
! base0E: #a48cf2
! base0F: #f265b5

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #323449, #323449, #212337

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #323449, #ebfafa, #323449, #323449, #ffffff
rofi.color-active:  #323449, #39ddfd, #323449, #323449, #39ddfd
rofi.color-urgent:  #323449, #f16c75, #323449, #323449, #f16c75

! Set the desired separator style
rofi.separator-style: solid
