! Base16 Horizon Light
! Author: Michaël Ball (http://github.com/michael-ball/)

! base00: #FDF0ED
! base01: #FADAD1
! base02: #F9CBBE
! base03: #BDB3B1
! base04: #948C8A
! base05: #403C3D
! base06: #302C2D
! base07: #201C1D
! base08: #F7939B
! base09: #F6661E
! base0A: #FBE0D9
! base0B: #94E1B0
! base0C: #DC3318
! base0D: #DA103F
! base0E: #1D8991
! base0F: #E58C92

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #FADAD1, #FADAD1, #FDF0ED

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #FADAD1, #403C3D, #FADAD1, #FADAD1, #201C1D
rofi.color-active:  #FADAD1, #DA103F, #FADAD1, #FADAD1, #DA103F
rofi.color-urgent:  #FADAD1, #F7939B, #FADAD1, #FADAD1, #F7939B

! Set the desired separator style
rofi.separator-style: solid
