! Base16 Macintosh
! Author: Rebecca Bettencourt (http://www.kreativekorp.com)

! base00: #000000
! base01: #404040
! base02: #404040
! base03: #808080
! base04: #808080
! base05: #c0c0c0
! base06: #c0c0c0
! base07: #ffffff
! base08: #dd0907
! base09: #ff6403
! base0A: #fbf305
! base0B: #1fb714
! base0C: #02abea
! base0D: #0000d3
! base0E: #4700a5
! base0F: #90713a

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #404040, #404040, #000000

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #404040, #c0c0c0, #404040, #404040, #ffffff
rofi.color-active:  #404040, #0000d3, #404040, #404040, #0000d3
rofi.color-urgent:  #404040, #dd0907, #404040, #404040, #dd0907

! Set the desired separator style
rofi.separator-style: solid
