! Base16 Bosque
! Scheme author: Teshre
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #0e1410
! base01: #16211a
! base02: #1e3023
! base03: #5c6e5e
! base04: #96aa98
! base05: #cfe5d2
! base06: #daebda
! base07: #e4f0e2
! base08: #e2706a
! base09: #7dc97a
! base0A: #c8b84a
! base0B: #6fc56e
! base0C: #5fd0b8
! base0D: #6dae9e
! base0E: #b894d0
! base0F: #35503e

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #16211a, #16211a, #0e1410

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #16211a, #cfe5d2, #16211a, #16211a, #e4f0e2
rofi.color-active:  #16211a, #6dae9e, #16211a, #16211a, #6dae9e
rofi.color-urgent:  #16211a, #e2706a, #16211a, #16211a, #e2706a

! Set the desired separator style
rofi.separator-style: solid
