! Base16 Material Palenight
! Author: Nate Peterson

! base00: #292D3E
! base01: #444267
! base02: #32374D
! base03: #676E95
! base04: #8796B0
! base05: #959DCB
! base06: #959DCB
! base07: #FFFFFF
! base08: #F07178
! base09: #F78C6C
! base0A: #FFCB6B
! base0B: #C3E88D
! base0C: #89DDFF
! base0D: #82AAFF
! base0E: #C792EA
! base0F: #FF5370

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #444267, #444267, #292D3E

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #444267, #959DCB, #444267, #444267, #FFFFFF
rofi.color-active:  #444267, #82AAFF, #444267, #444267, #82AAFF
rofi.color-urgent:  #444267, #F07178, #444267, #444267, #F07178

! Set the desired separator style
rofi.separator-style: solid
