! Base16 Edge Light
! Author: cjayross (https://github.com/cjayross)

! base00: #fafafa
! base01: #7c9f4b
! base02: #d69822
! base03: #5e646f
! base04: #6587bf
! base05: #5e646f
! base06: #b870ce
! base07: #5e646f
! base08: #db7070
! base09: #db7070
! base0A: #d69822
! base0B: #7c9f4b
! base0C: #509c93
! base0D: #6587bf
! base0E: #b870ce
! base0F: #509c93

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #7c9f4b, #7c9f4b, #fafafa

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #7c9f4b, #5e646f, #7c9f4b, #7c9f4b, #5e646f
rofi.color-active:  #7c9f4b, #6587bf, #7c9f4b, #7c9f4b, #6587bf
rofi.color-urgent:  #7c9f4b, #db7070, #7c9f4b, #7c9f4b, #db7070

! Set the desired separator style
rofi.separator-style: solid
