! Base16 Windows 10
! Author: Fergus Collins (https://github.com/C-Fergus)

! base00: #0c0c0c
! base01: #2f2f2f
! base02: #535353
! base03: #767676
! base04: #b9b9b9
! base05: #cccccc
! base06: #dfdfdf
! base07: #f2f2f2
! base08: #e74856
! base09: #c19c00
! base0A: #f9f1a5
! base0B: #16c60c
! base0C: #61d6d6
! base0D: #3b78ff
! base0E: #b4009e
! base0F: #13a10e

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #2f2f2f, #2f2f2f, #0c0c0c

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #2f2f2f, #cccccc, #2f2f2f, #2f2f2f, #f2f2f2
rofi.color-active:  #2f2f2f, #3b78ff, #2f2f2f, #2f2f2f, #3b78ff
rofi.color-urgent:  #2f2f2f, #e74856, #2f2f2f, #2f2f2f, #e74856

! Set the desired separator style
rofi.separator-style: solid
