! Base16 SAGA
! Scheme author: https://github.com/SAGAtheme/SAGA
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #05080a
! base01: #0a1014
! base02: #0f181e
! base03: #141f27
! base04: #192630
! base05: #dce2f7
! base06: #f8eae7
! base07: #ccd3fe
! base08: #ffd4e9
! base09: #fbcbae
! base0A: #fbebc8
! base0B: #f7ddff
! base0C: #c5edc1
! base0D: #c9fff7
! base0E: #dcc3f9
! base0F: #f6dddd

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #0a1014, #0a1014, #05080a

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #0a1014, #dce2f7, #0a1014, #0a1014, #ccd3fe
rofi.color-active:  #0a1014, #c9fff7, #0a1014, #0a1014, #c9fff7
rofi.color-urgent:  #0a1014, #ffd4e9, #0a1014, #0a1014, #ffd4e9

! Set the desired separator style
rofi.separator-style: solid
