! Base16 Gotham
! Scheme author: Andrea Leopardi (arranged by Brett Jones)
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #0c1014
! base01: #11151c
! base02: #091f2e
! base03: #0a3749
! base04: #245361
! base05: #599cab
! base06: #99d1ce
! base07: #d3ebe9
! base08: #c23127
! base09: #d26937
! base0A: #edb443
! base0B: #33859e
! base0C: #2aa889
! base0D: #195466
! base0E: #888ca6
! base0F: #4e5166

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #11151c, #11151c, #0c1014

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #11151c, #599cab, #11151c, #11151c, #d3ebe9
rofi.color-active:  #11151c, #195466, #11151c, #11151c, #195466
rofi.color-urgent:  #11151c, #c23127, #11151c, #11151c, #c23127

! Set the desired separator style
rofi.separator-style: solid
