! Base16 Valua
! Scheme author: Nonetrix (https://github.com/nonetrix)
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #131f1f
! base01: #213132
! base02: #273d3c
! base03: #3e5c53
! base04: #6d9877
! base05: #98c1a3
! base06: #a5cbb9
! base07: #aacbcb
! base08: #d7586e
! base09: #e6b466
! base0A: #dfe754
! base0B: #59d678
! base0C: #76dbd2
! base0D: #4ed2d2
! base0E: #a874e0
! base0F: #c05a8f

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #213132, #213132, #131f1f

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #213132, #98c1a3, #213132, #213132, #aacbcb
rofi.color-active:  #213132, #4ed2d2, #213132, #213132, #4ed2d2
rofi.color-urgent:  #213132, #d7586e, #213132, #213132, #d7586e

! Set the desired separator style
rofi.separator-style: solid
