! Base16 Gruvbox Material Dark, Medium
! Scheme author: Mayush Kumar (https://github.com/MayushKumar), sainnhe (https://github.com/sainnhe/gruvbox-material-vscode)
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #292828
! base01: #32302f
! base02: #504945
! base03: #665c54
! base04: #bdae93
! base05: #ddc7a1
! base06: #ebdbb2
! base07: #fbf1c7
! base08: #ea6962
! base09: #e78a4e
! base0A: #d8a657
! base0B: #a9b665
! base0C: #89b482
! base0D: #7daea3
! base0E: #d3869b
! base0F: #bd6f3e

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #32302f, #32302f, #292828

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #32302f, #ddc7a1, #32302f, #32302f, #fbf1c7
rofi.color-active:  #32302f, #7daea3, #32302f, #32302f, #7daea3
rofi.color-urgent:  #32302f, #ea6962, #32302f, #32302f, #ea6962

! Set the desired separator style
rofi.separator-style: solid
