! Base16 Nova
! Author: George Essig (https://github.com/gessig), Trevor D. Miller (https://trevordmiller.com)

! base00: #3c4c55
! base01: #556873
! base02: #6a7d89
! base03: #899ba6
! base04: #899ba6
! base05: #c5d4dd
! base06: #899ba6
! base07: #556873
! base08: #83afe5
! base09: #7fc1ca
! base0A: #a8ce93
! base0B: #7fc1ca
! base0C: #f2c38f
! base0D: #83afe5
! base0E: #9a93e1
! base0F: #f2c38f

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #556873, #556873, #3c4c55

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #556873, #c5d4dd, #556873, #556873, #556873
rofi.color-active:  #556873, #83afe5, #556873, #556873, #83afe5
rofi.color-urgent:  #556873, #83afe5, #556873, #556873, #83afe5

! Set the desired separator style
rofi.separator-style: solid
