! Base16 Precious Dark Eleven
! Scheme author: 4lex4 &lt;4lex49@zoho.com&gt;
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #1c1e20
! base01: #292b2d
! base02: #37393a
! base03: #858585
! base04: #a8a8a7
! base05: #b8b7b6
! base06: #b8b7b6
! base07: #b8b7b6
! base08: #ff8782
! base09: #ea9755
! base0A: #d0a543
! base0B: #95b658
! base0C: #42bda7
! base0D: #68b0ee
! base0E: #b799fe
! base0F: #f382d8

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #292b2d, #292b2d, #1c1e20

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #292b2d, #b8b7b6, #292b2d, #292b2d, #b8b7b6
rofi.color-active:  #292b2d, #68b0ee, #292b2d, #292b2d, #68b0ee
rofi.color-urgent:  #292b2d, #ff8782, #292b2d, #292b2d, #ff8782

! Set the desired separator style
rofi.separator-style: solid
