! Base16 Synth Midnight Terminal Dark
! Author: Michaël Ball (http://github.com/michael-ball/)

! base00: #050608
! base01: #1a1b1c
! base02: #28292a
! base03: #474849
! base04: #a3a5a6
! base05: #c1c3c4
! base06: #cfd1d2
! base07: #dddfe0
! base08: #b53b50
! base09: #ea770d
! base0A: #c9d364
! base0B: #06ea61
! base0C: #42fff9
! base0D: #03aeff
! base0E: #ea5ce2
! base0F: #cd6320

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #1a1b1c, #1a1b1c, #050608

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #1a1b1c, #c1c3c4, #1a1b1c, #1a1b1c, #dddfe0
rofi.color-active:  #1a1b1c, #03aeff, #1a1b1c, #1a1b1c, #03aeff
rofi.color-urgent:  #1a1b1c, #b53b50, #1a1b1c, #1a1b1c, #b53b50

! Set the desired separator style
rofi.separator-style: solid
