! Base16 tarot
! Scheme author: ed (https://codeberg.org/ed)
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #0e091d
! base01: #2a153c
! base02: #4b2054
! base03: #74316b
! base04: #8c406f
! base05: #aa556f
! base06: #c4686d
! base07: #dc8f7c
! base08: #c53253
! base09: #ea4d60
! base0A: #ff6565
! base0B: #a68e5a
! base0C: #8c9785
! base0D: #6e6080
! base0E: #a45782
! base0F: #984d51

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #2a153c, #2a153c, #0e091d

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #2a153c, #aa556f, #2a153c, #2a153c, #dc8f7c
rofi.color-active:  #2a153c, #6e6080, #2a153c, #2a153c, #6e6080
rofi.color-urgent:  #2a153c, #c53253, #2a153c, #2a153c, #c53253

! Set the desired separator style
rofi.separator-style: solid
