! Base16 Tomorrow
! Author: Chris Kempson (http://chriskempson.com)

! base00: #ffffff
! base01: #e0e0e0
! base02: #d6d6d6
! base03: #8e908c
! base04: #969896
! base05: #4d4d4c
! base06: #282a2e
! base07: #1d1f21
! base08: #c82829
! base09: #f5871f
! base0A: #eab700
! base0B: #718c00
! base0C: #3e999f
! base0D: #4271ae
! base0E: #8959a8
! base0F: #a3685a

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #e0e0e0, #e0e0e0, #ffffff

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #e0e0e0, #4d4d4c, #e0e0e0, #e0e0e0, #1d1f21
rofi.color-active:  #e0e0e0, #4271ae, #e0e0e0, #e0e0e0, #4271ae
rofi.color-urgent:  #e0e0e0, #c82829, #e0e0e0, #e0e0e0, #c82829

! Set the desired separator style
rofi.separator-style: solid
