! Base16 Material Palenight
! Author: Nate Peterson

! base00: #292d3e
! base01: #444267
! base02: #32374d
! base03: #676e95
! base04: #8796b0
! base05: #959dcb
! base06: #959dcb
! base07: #ffffff
! base08: #f07178
! base09: #f78c6c
! base0A: #ffcb6b
! base0B: #c3e88d
! base0C: #89ddff
! base0D: #82aaff
! base0E: #c792ea
! base0F: #ff5370

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #444267, #444267, #292d3e

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #444267, #959dcb, #444267, #444267, #ffffff
rofi.color-active:  #444267, #82aaff, #444267, #444267, #82aaff
rofi.color-urgent:  #444267, #f07178, #444267, #444267, #f07178

! Set the desired separator style
rofi.separator-style: solid
