! Base16 Google Light
! Author: Seth Wright (http://sethawright.com)

! base00: #ffffff
! base01: #e0e0e0
! base02: #c5c8c6
! base03: #b4b7b4
! base04: #969896
! base05: #373b41
! base06: #282a2e
! base07: #1d1f21
! base08: #cc342b
! base09: #f96a38
! base0A: #fba922
! base0B: #198844
! base0C: #3971ed
! base0D: #3971ed
! base0E: #a36ac7
! base0F: #3971ed

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #e0e0e0, #e0e0e0, #ffffff

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #e0e0e0, #373b41, #e0e0e0, #e0e0e0, #1d1f21
rofi.color-active:  #e0e0e0, #3971ed, #e0e0e0, #e0e0e0, #3971ed
rofi.color-urgent:  #e0e0e0, #cc342b, #e0e0e0, #e0e0e0, #cc342b

! Set the desired separator style
rofi.separator-style: solid
