! Base16 Shades of Purple
! Author: Iolar Demartini Junior (http://github.com/demartini) based on Shades of Purple Theme (https://github.com/ahmadawais/shades-of-purple-vscode).

! base00: #1e1e3f
! base01: #43d426
! base02: #f1d000
! base03: #808080
! base04: #6871ff
! base05: #c7c7c7
! base06: #ff77ff
! base07: #ffffff
! base08: #d90429
! base09: #f92a1c
! base0A: #ffe700
! base0B: #3ad900
! base0C: #00c5c7
! base0D: #6943ff
! base0E: #ff2c70
! base0F: #79e8fb

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #43d426, #43d426, #1e1e3f

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #43d426, #c7c7c7, #43d426, #43d426, #ffffff
rofi.color-active:  #43d426, #6943ff, #43d426, #43d426, #6943ff
rofi.color-urgent:  #43d426, #d90429, #43d426, #43d426, #d90429

! Set the desired separator style
rofi.separator-style: solid
