! Base16 Sagelight
! Author: Carter Veldhuizen

! base00: #f8f8f8
! base01: #e8e8e8
! base02: #d8d8d8
! base03: #b8b8b8
! base04: #585858
! base05: #383838
! base06: #282828
! base07: #181818
! base08: #fa8480
! base09: #ffaa61
! base0A: #ffdc61
! base0B: #a0d2c8
! base0C: #a2d6f5
! base0D: #a0a7d2
! base0E: #c8a0d2
! base0F: #d2b2a0

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #e8e8e8, #e8e8e8, #f8f8f8

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #e8e8e8, #383838, #e8e8e8, #e8e8e8, #181818
rofi.color-active:  #e8e8e8, #a0a7d2, #e8e8e8, #e8e8e8, #a0a7d2
rofi.color-urgent:  #e8e8e8, #fa8480, #e8e8e8, #e8e8e8, #fa8480

! Set the desired separator style
rofi.separator-style: solid
