! Base16 Penumbra Dark
! Scheme author: Zachary Weiss (https://github.com/zacharyweiss)
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #24272b
! base01: #303338
! base02: #3e4044
! base03: #636363
! base04: #8f8f8f
! base05: #bebebe
! base06: #fff7ed
! base07: #fffdfb
! base08: #ca736c
! base09: #ba823a
! base0A: #8d9741
! base0B: #47a477
! base0C: #00a2af
! base0D: #5794d0
! base0E: #9481cc
! base0F: #bc73a4

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #303338, #303338, #24272b

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #303338, #bebebe, #303338, #303338, #fffdfb
rofi.color-active:  #303338, #5794d0, #303338, #303338, #5794d0
rofi.color-urgent:  #303338, #ca736c, #303338, #303338, #ca736c

! Set the desired separator style
rofi.separator-style: solid
