! Base16 Atelier Forest
! Author: Bram de Haan (http://atelierbramdehaan.nl)

! base00: #1b1918
! base01: #2c2421
! base02: #68615e
! base03: #766e6b
! base04: #9c9491
! base05: #a8a19f
! base06: #e6e2e0
! base07: #f1efee
! base08: #f22c40
! base09: #df5320
! base0A: #c38418
! base0B: #7b9726
! base0C: #3d97b8
! base0D: #407ee7
! base0E: #6666ea
! base0F: #c33ff3

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #2c2421, #2c2421, #1b1918

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #2c2421, #a8a19f, #2c2421, #2c2421, #f1efee
rofi.color-active:  #2c2421, #407ee7, #2c2421, #2c2421, #407ee7
rofi.color-urgent:  #2c2421, #f22c40, #2c2421, #2c2421, #f22c40

! Set the desired separator style
rofi.separator-style: solid
