! Base16 Precious Light Warm
! Scheme author: 4lex4 &lt;4lex49@zoho.com&gt;
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #fff5e5
! base01: #ece4d6
! base02: #d9d3c8
! base03: #7f8080
! base04: #5d6065
! base05: #4e5359
! base06: #4e5359
! base07: #4e5359
! base08: #b14745
! base09: #a25600
! base0A: #876500
! base0B: #557300
! base0C: #0e7767
! base0D: #246da5
! base0E: #7a50c6
! base0F: #a83f92

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #ece4d6, #ece4d6, #fff5e5

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #ece4d6, #4e5359, #ece4d6, #ece4d6, #4e5359
rofi.color-active:  #ece4d6, #246da5, #ece4d6, #ece4d6, #246da5
rofi.color-urgent:  #ece4d6, #b14745, #ece4d6, #ece4d6, #b14745

! Set the desired separator style
rofi.separator-style: solid
