! Base16 Espresso
! Author: Unknown. Maintained by Alex Mirrington (https://github.com/alexmirrington)

! base00: #2d2d2d
! base01: #393939
! base02: #515151
! base03: #777777
! base04: #b4b7b4
! base05: #cccccc
! base06: #e0e0e0
! base07: #ffffff
! base08: #d25252
! base09: #f9a959
! base0A: #ffc66d
! base0B: #a5c261
! base0C: #bed6ff
! base0D: #6c99bb
! base0E: #d197d9
! base0F: #f97394

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #393939, #393939, #2d2d2d

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #393939, #cccccc, #393939, #393939, #ffffff
rofi.color-active:  #393939, #6c99bb, #393939, #393939, #6c99bb
rofi.color-urgent:  #393939, #d25252, #393939, #393939, #d25252

! Set the desired separator style
rofi.separator-style: solid
