! Base16 Classic Dark
! Author: Jason Heeris (http://heeris.id.au)

! base00: #151515
! base01: #202020
! base02: #303030
! base03: #505050
! base04: #B0B0B0
! base05: #D0D0D0
! base06: #E0E0E0
! base07: #F5F5F5
! base08: #AC4142
! base09: #D28445
! base0A: #F4BF75
! base0B: #90A959
! base0C: #75B5AA
! base0D: #6A9FB5
! base0E: #AA759F
! base0F: #8F5536

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #202020, #202020, #151515

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #202020, #D0D0D0, #202020, #202020, #F5F5F5
rofi.color-active:  #202020, #6A9FB5, #202020, #202020, #6A9FB5
rofi.color-urgent:  #202020, #AC4142, #202020, #202020, #AC4142

! Set the desired separator style
rofi.separator-style: solid
