! Base16 darkmoss
! Author: Gabriel Avanzi (https://github.com/avanzzzi)

! base00: #171e1f
! base01: #252c2d
! base02: #373c3d
! base03: #555e5f
! base04: #818f80
! base05: #c7c7a5
! base06: #e3e3c8
! base07: #e1eaef
! base08: #ff4658
! base09: #e6db74
! base0A: #fdb11f
! base0B: #499180
! base0C: #66d9ef
! base0D: #498091
! base0E: #9bc0c8
! base0F: #d27b53

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #252c2d, #252c2d, #171e1f

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #252c2d, #c7c7a5, #252c2d, #252c2d, #e1eaef
rofi.color-active:  #252c2d, #498091, #252c2d, #252c2d, #498091
rofi.color-urgent:  #252c2d, #ff4658, #252c2d, #252c2d, #ff4658

! Set the desired separator style
rofi.separator-style: solid
