! Base16 Shapeshifter
! Author: Tyler Benziger (http://tybenz.com)

! base00: #f9f9f9
! base01: #e0e0e0
! base02: #ababab
! base03: #555555
! base04: #343434
! base05: #102015
! base06: #040404
! base07: #000000
! base08: #e92f2f
! base09: #e09448
! base0A: #dddd13
! base0B: #0ed839
! base0C: #23edda
! base0D: #3b48e3
! base0E: #f996e2
! base0F: #69542d

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #e0e0e0, #e0e0e0, #f9f9f9

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #e0e0e0, #102015, #e0e0e0, #e0e0e0, #000000
rofi.color-active:  #e0e0e0, #3b48e3, #e0e0e0, #e0e0e0, #3b48e3
rofi.color-urgent:  #e0e0e0, #e92f2f, #e0e0e0, #e0e0e0, #e92f2f

! Set the desired separator style
rofi.separator-style: solid
