! Base16 Everforest Dark Medium
! Scheme author: Sainnhe Park (https://github.com/sainnhe)
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #2d353b
! base01: #343f44
! base02: #3d484d
! base03: #475258
! base04: #7a8478
! base05: #859289
! base06: #9da9a0
! base07: #d3c6aa
! base08: #e67e80
! base09: #e69875
! base0A: #dbbc7f
! base0B: #a7c080
! base0C: #83c092
! base0D: #7fbbb3
! base0E: #d699b6
! base0F: #514045

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #343f44, #343f44, #2d353b

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #343f44, #859289, #343f44, #343f44, #d3c6aa
rofi.color-active:  #343f44, #7fbbb3, #343f44, #343f44, #7fbbb3
rofi.color-urgent:  #343f44, #e67e80, #343f44, #343f44, #e67e80

! Set the desired separator style
rofi.separator-style: solid
