! Base16 Swamp Light
! Scheme author: Masroof Maindak (https://github.com/masroof-maindak)
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #f1e3d1
! base01: #ddcebc
! base02: #c9b9a7
! base03: #b5a492
! base04: #a0907d
! base05: #64513e
! base06: #786653
! base07: #8c7b68
! base08: #d09700
! base09: #64513e
! base0A: #993333
! base0B: #908d6a
! base0C: #d09700
! base0D: #bf7979
! base0E: #9e5581
! base0F: #75858c

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #ddcebc, #ddcebc, #f1e3d1

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #ddcebc, #64513e, #ddcebc, #ddcebc, #8c7b68
rofi.color-active:  #ddcebc, #bf7979, #ddcebc, #ddcebc, #bf7979
rofi.color-urgent:  #ddcebc, #d09700, #ddcebc, #ddcebc, #d09700

! Set the desired separator style
rofi.separator-style: solid
