! Base16 Deep Oceanic Next
! Scheme author: spearkkk (https://github.com/spearkkk/deep-oceanic-next)
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #003b46
! base01: #004f5e
! base02: #006374
! base03: #007a8a
! base04: #0093a3
! base05: #dce3e8
! base06: #e6ebf0
! base07: #f0f5f5
! base08: #e6454b
! base09: #ff6a4b
! base0A: #ffcc66
! base0B: #85b57a
! base0C: #4da6a6
! base0D: #3a82e6
! base0E: #8c4de6
! base0F: #e673a3

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #004f5e, #004f5e, #003b46

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #004f5e, #dce3e8, #004f5e, #004f5e, #f0f5f5
rofi.color-active:  #004f5e, #3a82e6, #004f5e, #004f5e, #3a82e6
rofi.color-urgent:  #004f5e, #e6454b, #004f5e, #004f5e, #e6454b

! Set the desired separator style
rofi.separator-style: solid
