! Base16 Arroz con Dulce Dark
! Scheme author: Richard Martinez
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #21140f
! base01: #2c1a13
! base02: #3b241a
! base03: #a98568
! base04: #c8a77a
! base05: #f2dfc0
! base06: #f8ebd3
! base07: #fff8e7
! base08: #e07a8a
! base09: #e68a4a
! base0A: #d9a441
! base0B: #d47a50
! base0C: #d98276
! base0D: #b99ac8
! base0E: #d58ab4
! base0F: #b97755

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #2c1a13, #2c1a13, #21140f

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #2c1a13, #f2dfc0, #2c1a13, #2c1a13, #fff8e7
rofi.color-active:  #2c1a13, #b99ac8, #2c1a13, #2c1a13, #b99ac8
rofi.color-urgent:  #2c1a13, #e07a8a, #2c1a13, #2c1a13, #e07a8a

! Set the desired separator style
rofi.separator-style: solid
