! Base16 Mountain
! Scheme author: gnsfujiwara (https://github.com/gnsfujiwara)
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #0f0f0f
! base01: #191919
! base02: #262626
! base03: #393939
! base04: #4c4c4c
! base05: #cacaca
! base06: #e7e7e7
! base07: #f0f0f0
! base08: #ac8a8c
! base09: #ceb188
! base0A: #aca98a
! base0B: #8aac8b
! base0C: #8aabac
! base0D: #8f8aac
! base0E: #ac8aac
! base0F: #ac8a8c

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #191919, #191919, #0f0f0f

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #191919, #cacaca, #191919, #191919, #f0f0f0
rofi.color-active:  #191919, #8f8aac, #191919, #191919, #8f8aac
rofi.color-urgent:  #191919, #ac8a8c, #191919, #191919, #ac8a8c

! Set the desired separator style
rofi.separator-style: solid
