! Base16 Rosé Pine
! Author: Emilia Dunfelt &lt;sayhi@dunfelt.se&gt;

! base00: #191724
! base01: #1f1d2e
! base02: #26233a
! base03: #555169
! base04: #6e6a86
! base05: #e0def4
! base06: #f0f0f3
! base07: #c5c3ce
! base08: #e2e1e7
! base09: #eb6f92
! base0A: #f6c177
! base0B: #ebbcba
! base0C: #31748f
! base0D: #9ccfd8
! base0E: #c4a7e7
! base0F: #e5e5e5

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #1f1d2e, #1f1d2e, #191724

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #1f1d2e, #e0def4, #1f1d2e, #1f1d2e, #c5c3ce
rofi.color-active:  #1f1d2e, #9ccfd8, #1f1d2e, #1f1d2e, #9ccfd8
rofi.color-urgent:  #1f1d2e, #e2e1e7, #1f1d2e, #1f1d2e, #e2e1e7

! Set the desired separator style
rofi.separator-style: solid
