! Base16 Mellow Purple
! Author: gidsi

! base00: #1e0528
! base01: #1a092d
! base02: #331354
! base03: #320f55
! base04: #873582
! base05: #ffeeff
! base06: #ffeeff
! base07: #f8c0ff
! base08: #00d9e9
! base09: #aa00a3
! base0A: #955ae7
! base0B: #05cb0d
! base0C: #b900b1
! base0D: #550068
! base0E: #8991bb
! base0F: #4d6fff

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #1a092d, #1a092d, #1e0528

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #1a092d, #ffeeff, #1a092d, #1a092d, #f8c0ff
rofi.color-active:  #1a092d, #550068, #1a092d, #1a092d, #550068
rofi.color-urgent:  #1a092d, #00d9e9, #1a092d, #1a092d, #00d9e9

! Set the desired separator style
rofi.separator-style: solid
