! Base16 XCode Dusk
! Author: Elsa Gonsiorowski (https://github.com/gonsie)

! base00: #282b35
! base01: #3d4048
! base02: #53555d
! base03: #686a71
! base04: #7e8086
! base05: #939599
! base06: #a9aaae
! base07: #bebfc2
! base08: #b21889
! base09: #786dc5
! base0A: #438288
! base0B: #df0002
! base0C: #00a0be
! base0D: #790ead
! base0E: #b21889
! base0F: #c77c48

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #3d4048, #3d4048, #282b35

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #3d4048, #939599, #3d4048, #3d4048, #bebfc2
rofi.color-active:  #3d4048, #790ead, #3d4048, #3d4048, #790ead
rofi.color-urgent:  #3d4048, #b21889, #3d4048, #3d4048, #b21889

! Set the desired separator style
rofi.separator-style: solid
