! Base16 Gruber
! Scheme author: Patel, Nimai &lt;nimai.m.patel@gmail.com&gt;, colors from www.github.com/rexim/gruber-darker-theme
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #181818
! base01: #453d41
! base02: #484848
! base03: #52494e
! base04: #e4e4ef
! base05: #f4f4ff
! base06: #f5f5f5
! base07: #e4e4ef
! base08: #f43841
! base09: #c73c3f
! base0A: #ffdd33
! base0B: #73c936
! base0C: #95a99f
! base0D: #96a6c8
! base0E: #9e95c7
! base0F: #cc8c3c

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #453d41, #453d41, #181818

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #453d41, #f4f4ff, #453d41, #453d41, #e4e4ef
rofi.color-active:  #453d41, #96a6c8, #453d41, #453d41, #96a6c8
rofi.color-urgent:  #453d41, #f43841, #453d41, #453d41, #f43841

! Set the desired separator style
rofi.separator-style: solid
