! Base16 Penumbra Light Contrast Plus Plus
! Scheme author: Zachary Weiss (https://github.com/zacharyweiss)
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #fffdfb
! base01: #fff7ed
! base02: #f2e6d4
! base03: #dedede
! base04: #aeaeae
! base05: #636363
! base06: #181b1f
! base07: #0d0f13
! base08: #f58c81
! base09: #e09f47
! base0A: #a9b852
! base0B: #54c794
! base0C: #00c4d7
! base0D: #6eb2fd
! base0E: #b69cf6
! base0F: #e58cc5

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #fff7ed, #fff7ed, #fffdfb

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #fff7ed, #636363, #fff7ed, #fff7ed, #0d0f13
rofi.color-active:  #fff7ed, #6eb2fd, #fff7ed, #fff7ed, #6eb2fd
rofi.color-urgent:  #fff7ed, #f58c81, #fff7ed, #fff7ed, #f58c81

! Set the desired separator style
rofi.separator-style: solid
