! Base16 Darktooth
! Author: Jason Milkins (https://github.com/jasonm23)

! base00: #1d2021
! base01: #32302f
! base02: #504945
! base03: #665c54
! base04: #928374
! base05: #a89984
! base06: #d5c4a1
! base07: #fdf4c1
! base08: #fb543f
! base09: #fe8625
! base0A: #fac03b
! base0B: #95c085
! base0C: #8ba59b
! base0D: #0d6678
! base0E: #8f4673
! base0F: #a87322

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #32302f, #32302f, #1d2021

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #32302f, #a89984, #32302f, #32302f, #fdf4c1
rofi.color-active:  #32302f, #0d6678, #32302f, #32302f, #0d6678
rofi.color-urgent:  #32302f, #fb543f, #32302f, #32302f, #fb543f

! Set the desired separator style
rofi.separator-style: solid
