! Base16 Spacemacs
! Author: Nasser Alshammari (https://github.com/nashamri/spacemacs-theme)

! base00: #1f2022
! base01: #282828
! base02: #444155
! base03: #585858
! base04: #b8b8b8
! base05: #a3a3a3
! base06: #e8e8e8
! base07: #f8f8f8
! base08: #f2241f
! base09: #ffa500
! base0A: #b1951d
! base0B: #67b11d
! base0C: #2d9574
! base0D: #4f97d7
! base0E: #a31db1
! base0F: #b03060

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #282828, #282828, #1f2022

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #282828, #a3a3a3, #282828, #282828, #f8f8f8
rofi.color-active:  #282828, #4f97d7, #282828, #282828, #4f97d7
rofi.color-urgent:  #282828, #f2241f, #282828, #282828, #f2241f

! Set the desired separator style
rofi.separator-style: solid
