! Base16 Sequoia Moonlight Dark
! Scheme author: Micheal Andreuzza (https://michaelandreuzza.com/)
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #0f1014
! base01: #111216
! base02: #111216
! base03: #43444d
! base04: #575861
! base05: #868690
! base06: #868690
! base07: #0f1014
! base08: #f58ee0
! base09: #f58ee0
! base0A: #9898a6
! base0B: #8eb6f5
! base0C: #ffbb88
! base0D: #c58fff
! base0E: #9898a6
! base0F: #8eb6f5

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #111216, #111216, #0f1014

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #111216, #868690, #111216, #111216, #0f1014
rofi.color-active:  #111216, #c58fff, #111216, #111216, #c58fff
rofi.color-urgent:  #111216, #f58ee0, #111216, #111216, #f58ee0

! Set the desired separator style
rofi.separator-style: solid
