! Base16 Equilibrium Gray Dark
! Author: Carlo Abelli

! base00: #111111
! base01: #1b1b1b
! base02: #262626
! base03: #777777
! base04: #919191
! base05: #ababab
! base06: #c6c6c6
! base07: #e2e2e2
! base08: #f04339
! base09: #df5923
! base0A: #bb8801
! base0B: #7f8b00
! base0C: #00948b
! base0D: #008dd1
! base0E: #6a7fd2
! base0F: #e3488e

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #1b1b1b, #1b1b1b, #111111

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #1b1b1b, #ababab, #1b1b1b, #1b1b1b, #e2e2e2
rofi.color-active:  #1b1b1b, #008dd1, #1b1b1b, #1b1b1b, #008dd1
rofi.color-urgent:  #1b1b1b, #f04339, #1b1b1b, #1b1b1b, #f04339

! Set the desired separator style
rofi.separator-style: solid
