! Base16 Classic Light
! Author: Jason Heeris (http://heeris.id.au)

! base00: #f5f5f5
! base01: #e0e0e0
! base02: #d0d0d0
! base03: #b0b0b0
! base04: #505050
! base05: #303030
! base06: #202020
! base07: #151515
! base08: #ac4142
! base09: #d28445
! base0A: #f4bf75
! base0B: #90a959
! base0C: #75b5aa
! base0D: #6a9fb5
! base0E: #aa759f
! base0F: #8f5536

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #e0e0e0, #e0e0e0, #f5f5f5

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #e0e0e0, #303030, #e0e0e0, #e0e0e0, #151515
rofi.color-active:  #e0e0e0, #6a9fb5, #e0e0e0, #e0e0e0, #6a9fb5
rofi.color-urgent:  #e0e0e0, #ac4142, #e0e0e0, #e0e0e0, #ac4142

! Set the desired separator style
rofi.separator-style: solid
