! Base16 Brewer
! Author: Timothée Poisot (http://github.com/tpoisot)

! base00: #0c0d0e
! base01: #2e2f30
! base02: #515253
! base03: #737475
! base04: #959697
! base05: #b7b8b9
! base06: #dadbdc
! base07: #fcfdfe
! base08: #e31a1c
! base09: #e6550d
! base0A: #dca060
! base0B: #31a354
! base0C: #80b1d3
! base0D: #3182bd
! base0E: #756bb1
! base0F: #b15928

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #2e2f30, #2e2f30, #0c0d0e

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #2e2f30, #b7b8b9, #2e2f30, #2e2f30, #fcfdfe
rofi.color-active:  #2e2f30, #3182bd, #2e2f30, #2e2f30, #3182bd
rofi.color-urgent:  #2e2f30, #e31a1c, #2e2f30, #2e2f30, #e31a1c

! Set the desired separator style
rofi.separator-style: solid
