! Base16 Outrun Dark
! Author: Hugo Delahousse (http://github.com/hugodelahousse/)

! base00: #00002A
! base01: #20204A
! base02: #30305A
! base03: #50507A
! base04: #B0B0DA
! base05: #D0D0FA
! base06: #E0E0FF
! base07: #F5F5FF
! base08: #FF4242
! base09: #FC8D28
! base0A: #F3E877
! base0B: #59F176
! base0C: #0EF0F0
! base0D: #66B0FF
! base0E: #F10596
! base0F: #F003EF

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #20204A, #20204A, #00002A

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #20204A, #D0D0FA, #20204A, #20204A, #F5F5FF
rofi.color-active:  #20204A, #66B0FF, #20204A, #20204A, #66B0FF
rofi.color-urgent:  #20204A, #FF4242, #20204A, #20204A, #FF4242

! Set the desired separator style
rofi.separator-style: solid
