! Base16 Brush Trees Dark
! Author: Abraham White &lt;abelincoln.white@gmail.com&gt;

! base00: #485867
! base01: #5a6d7a
! base02: #6d828e
! base03: #8299a1
! base04: #98afb5
! base05: #b0c5c8
! base06: #c9dbdc
! base07: #e3efef
! base08: #b38686
! base09: #d8bba2
! base0A: #aab386
! base0B: #87b386
! base0C: #86b3b3
! base0D: #868cb3
! base0E: #b386b2
! base0F: #b39f9f

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #5a6d7a, #5a6d7a, #485867

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #5a6d7a, #b0c5c8, #5a6d7a, #5a6d7a, #e3efef
rofi.color-active:  #5a6d7a, #868cb3, #5a6d7a, #5a6d7a, #868cb3
rofi.color-urgent:  #5a6d7a, #b38686, #5a6d7a, #5a6d7a, #b38686

! Set the desired separator style
rofi.separator-style: solid
