! Base16 Cupcake
! Author: Chris Kempson (http://chriskempson.com)

! base00: #fbf1f2
! base01: #f2f1f4
! base02: #d8d5dd
! base03: #bfb9c6
! base04: #a59daf
! base05: #8b8198
! base06: #72677e
! base07: #585062
! base08: #d57e85
! base09: #ebb790
! base0A: #dcb16c
! base0B: #a3b367
! base0C: #69a9a7
! base0D: #7297b9
! base0E: #bb99b4
! base0F: #baa58c

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #f2f1f4, #f2f1f4, #fbf1f2

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #f2f1f4, #8b8198, #f2f1f4, #f2f1f4, #585062
rofi.color-active:  #f2f1f4, #7297b9, #f2f1f4, #f2f1f4, #7297b9
rofi.color-urgent:  #f2f1f4, #d57e85, #f2f1f4, #f2f1f4, #d57e85

! Set the desired separator style
rofi.separator-style: solid
