! Base16 Framer
! Author: Framer (Maintained by Jesse Hoyos)

! base00: #181818
! base01: #151515
! base02: #464646
! base03: #747474
! base04: #B9B9B9
! base05: #D0D0D0
! base06: #E8E8E8
! base07: #EEEEEE
! base08: #FD886B
! base09: #FC4769
! base0A: #FECB6E
! base0B: #32CCDC
! base0C: #ACDDFD
! base0D: #20BCFC
! base0E: #BA8CFC
! base0F: #B15F4A

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #151515, #151515, #181818

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #151515, #D0D0D0, #151515, #151515, #EEEEEE
rofi.color-active:  #151515, #20BCFC, #151515, #151515, #20BCFC
rofi.color-urgent:  #151515, #FD886B, #151515, #151515, #FD886B

! Set the desired separator style
rofi.separator-style: solid
