! Base16 Summerfruit Light
! Author: Christopher Corley (http://christop.club/)

! base00: #FFFFFF
! base01: #E0E0E0
! base02: #D0D0D0
! base03: #B0B0B0
! base04: #000000
! base05: #101010
! base06: #151515
! base07: #202020
! base08: #FF0086
! base09: #FD8900
! base0A: #ABA800
! base0B: #00C918
! base0C: #1FAAAA
! base0D: #3777E6
! base0E: #AD00A1
! base0F: #CC6633

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #E0E0E0, #E0E0E0, #FFFFFF

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #E0E0E0, #101010, #E0E0E0, #E0E0E0, #202020
rofi.color-active:  #E0E0E0, #3777E6, #E0E0E0, #E0E0E0, #3777E6
rofi.color-urgent:  #E0E0E0, #FF0086, #E0E0E0, #E0E0E0, #FF0086

! Set the desired separator style
rofi.separator-style: solid
