! Base16 lime
! Scheme author: limelier
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #1a1a2f
! base01: #202030
! base02: #2a2a3f
! base03: #313140
! base04: #515155
! base05: #818175
! base06: #fff2d1
! base07: #fff8e1
! base08: #ff662a
! base09: #ff773a
! base0A: #ffd15e
! base0B: #8cd97c
! base0C: #4cad83
! base0D: #2b926f
! base0E: #1b825f
! base0F: #b4d97c

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #202030, #202030, #1a1a2f

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #202030, #818175, #202030, #202030, #fff8e1
rofi.color-active:  #202030, #2b926f, #202030, #202030, #2b926f
rofi.color-urgent:  #202030, #ff662a, #202030, #202030, #ff662a

! Set the desired separator style
rofi.separator-style: solid
