! Base16 Rosé Pine Dawn
! Scheme author: Emilia Dunfelt &lt;edun@dunfelt.se&gt;
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #faf4ed
! base01: #fffaf3
! base02: #f2e9de
! base03: #9893a5
! base04: #797593
! base05: #575279
! base06: #575279
! base07: #cecacd
! base08: #b4637a
! base09: #ea9d34
! base0A: #d7827e
! base0B: #286983
! base0C: #56949f
! base0D: #907aa9
! base0E: #ea9d34
! base0F: #cecacd

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #fffaf3, #fffaf3, #faf4ed

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #fffaf3, #575279, #fffaf3, #fffaf3, #cecacd
rofi.color-active:  #fffaf3, #907aa9, #fffaf3, #fffaf3, #907aa9
rofi.color-urgent:  #fffaf3, #b4637a, #fffaf3, #fffaf3, #b4637a

! Set the desired separator style
rofi.separator-style: solid
