! Base16 Unikitty Reversible
! Scheme author: Josh W Lewis (@joshwlewis)
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #2e2a31
! base01: #4b484e
! base02: #69666b
! base03: #878589
! base04: #a5a3a6
! base05: #c3c2c4
! base06: #e1e0e1
! base07: #ffffff
! base08: #d8137f
! base09: #d65407
! base0A: #dc8a0e
! base0B: #17ad98
! base0C: #149bda
! base0D: #7864fa
! base0E: #b33ce8
! base0F: #d41acd

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #4b484e, #4b484e, #2e2a31

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #4b484e, #c3c2c4, #4b484e, #4b484e, #ffffff
rofi.color-active:  #4b484e, #7864fa, #4b484e, #4b484e, #7864fa
rofi.color-urgent:  #4b484e, #d8137f, #4b484e, #4b484e, #d8137f

! Set the desired separator style
rofi.separator-style: solid
