! Base16 Windows 10 Light
! Author: Fergus Collins (https://github.com/C-Fergus)

! base00: #f2f2f2
! base01: #e5e5e5
! base02: #d9d9d9
! base03: #cccccc
! base04: #ababab
! base05: #767676
! base06: #414141
! base07: #0c0c0c
! base08: #c50f1f
! base09: #f9f1a5
! base0A: #c19c00
! base0B: #13a10e
! base0C: #3a96dd
! base0D: #0037da
! base0E: #881798
! base0F: #16c60c

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #e5e5e5, #e5e5e5, #f2f2f2

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #e5e5e5, #767676, #e5e5e5, #e5e5e5, #0c0c0c
rofi.color-active:  #e5e5e5, #0037da, #e5e5e5, #e5e5e5, #0037da
rofi.color-urgent:  #e5e5e5, #c50f1f, #e5e5e5, #e5e5e5, #c50f1f

! Set the desired separator style
rofi.separator-style: solid
