! Base16 Atlas
! Author: Alex Lende (https://ajlende.com)

! base00: #002635
! base01: #00384d
! base02: #517f8d
! base03: #6c8b91
! base04: #869696
! base05: #a1a19a
! base06: #e6e6dc
! base07: #fafaf8
! base08: #ff5a67
! base09: #f08e48
! base0A: #ffcc1b
! base0B: #7fc06e
! base0C: #14747e
! base0D: #5dd7b9
! base0E: #9a70a4
! base0F: #c43060

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #00384d, #00384d, #002635

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #00384d, #a1a19a, #00384d, #00384d, #fafaf8
rofi.color-active:  #00384d, #5dd7b9, #00384d, #00384d, #5dd7b9
rofi.color-urgent:  #00384d, #ff5a67, #00384d, #00384d, #ff5a67

! Set the desired separator style
rofi.separator-style: solid
