! Base16 Atelier Dune
! Author: Bram de Haan (http://atelierbramdehaan.nl)

! base00: #20201d
! base01: #292824
! base02: #6e6b5e
! base03: #7d7a68
! base04: #999580
! base05: #a6a28c
! base06: #e8e4cf
! base07: #fefbec
! base08: #d73737
! base09: #b65611
! base0A: #ae9513
! base0B: #60ac39
! base0C: #1fad83
! base0D: #6684e1
! base0E: #b854d4
! base0F: #d43552

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #292824, #292824, #20201d

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #292824, #a6a28c, #292824, #292824, #fefbec
rofi.color-active:  #292824, #6684e1, #292824, #292824, #6684e1
rofi.color-urgent:  #292824, #d73737, #292824, #292824, #d73737

! Set the desired separator style
rofi.separator-style: solid
