! Base16 Summerfruit Light
! Author: Christopher Corley (http://christop.club/)

! base00: #ffffff
! base01: #e0e0e0
! base02: #d0d0d0
! base03: #b0b0b0
! base04: #000000
! base05: #101010
! base06: #151515
! base07: #202020
! base08: #ff0086
! base09: #fd8900
! base0A: #aba800
! base0B: #00c918
! base0C: #1faaaa
! base0D: #3777e6
! base0E: #ad00a1
! base0F: #cc6633

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #e0e0e0, #e0e0e0, #ffffff

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #e0e0e0, #101010, #e0e0e0, #e0e0e0, #202020
rofi.color-active:  #e0e0e0, #3777e6, #e0e0e0, #e0e0e0, #3777e6
rofi.color-urgent:  #e0e0e0, #ff0086, #e0e0e0, #e0e0e0, #ff0086

! Set the desired separator style
rofi.separator-style: solid
