! Base16 Hardcore
! Author: Chris Caller

! base00: #212121
! base01: #303030
! base02: #353535
! base03: #4A4A4A
! base04: #707070
! base05: #cdcdcd
! base06: #e5e5e5
! base07: #ffffff
! base08: #f92672
! base09: #fd971f
! base0A: #e6db74
! base0B: #a6e22e
! base0C: #708387
! base0D: #66d9ef
! base0E: #9e6ffe
! base0F: #e8b882

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #303030, #303030, #212121

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #303030, #cdcdcd, #303030, #303030, #ffffff
rofi.color-active:  #303030, #66d9ef, #303030, #303030, #66d9ef
rofi.color-urgent:  #303030, #f92672, #303030, #303030, #f92672

! Set the desired separator style
rofi.separator-style: solid
