! Base16 Rebecca
! Author: Victor Borja (http://github.com/vic) based on Rebecca Theme (http://github.com/vic/rebecca-theme)

! base00: #292a44
! base01: #663399
! base02: #383a62
! base03: #666699
! base04: #a0a0c5
! base05: #f1eff8
! base06: #ccccff
! base07: #53495d
! base08: #a0a0c5
! base09: #efe4a1
! base0A: #ae81ff
! base0B: #6dfedf
! base0C: #8eaee0
! base0D: #2de0a7
! base0E: #7aa5ff
! base0F: #ff79c6

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #663399, #663399, #292a44

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #663399, #f1eff8, #663399, #663399, #53495d
rofi.color-active:  #663399, #2de0a7, #663399, #663399, #2de0a7
rofi.color-urgent:  #663399, #a0a0c5, #663399, #663399, #a0a0c5

! Set the desired separator style
rofi.separator-style: solid
