! Base16 Noche
! Scheme author: Teshre
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #0c0e16
! base01: #181c2c
! base02: #232a40
! base03: #5a6178
! base04: #939bb2
! base05: #cbd4ec
! base06: #d9e0f3
! base07: #e6ecfa
! base08: #e2727e
! base09: #82a6e0
! base0A: #d8c062
! base0B: #7cc596
! base0C: #6dd8d0
! base0D: #7aa0e8
! base0E: #b79ae0
! base0F: #3a4260

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #181c2c, #181c2c, #0c0e16

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #181c2c, #cbd4ec, #181c2c, #181c2c, #e6ecfa
rofi.color-active:  #181c2c, #7aa0e8, #181c2c, #181c2c, #7aa0e8
rofi.color-urgent:  #181c2c, #e2727e, #181c2c, #181c2c, #e2727e

! Set the desired separator style
rofi.separator-style: solid
