! Base16 Arroz con Dulce
! Scheme author: Richard Martinez
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #fff8e7
! base01: #f7ebd3
! base02: #ead6b8
! base03: #c8a77a
! base04: #765b45
! base05: #4a2c20
! base06: #321c14
! base07: #21110b
! base08: #a11d48
! base09: #a3470a
! base0A: #855500
! base0B: #a2380c
! base0C: #98263e
! base0D: #5940a0
! base0E: #8c1f68
! base0F: #653221

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #f7ebd3, #f7ebd3, #fff8e7

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #f7ebd3, #4a2c20, #f7ebd3, #f7ebd3, #21110b
rofi.color-active:  #f7ebd3, #5940a0, #f7ebd3, #f7ebd3, #5940a0
rofi.color-urgent:  #f7ebd3, #a11d48, #f7ebd3, #f7ebd3, #a11d48

! Set the desired separator style
rofi.separator-style: solid
