! Base16 Tokyo City Terminal Dark
! Scheme author: Michaël Ball
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #171d23
! base01: #1d252c
! base02: #28323a
! base03: #526270
! base04: #b7c5d3
! base05: #d8e2ec
! base06: #f6f6f8
! base07: #fbfbfd
! base08: #d95468
! base09: #ff9e64
! base0A: #ebbf83
! base0B: #8bd49c
! base0C: #70e1e8
! base0D: #539afc
! base0E: #b62d65
! base0F: #dd9d82

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #1d252c, #1d252c, #171d23

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #1d252c, #d8e2ec, #1d252c, #1d252c, #fbfbfd
rofi.color-active:  #1d252c, #539afc, #1d252c, #1d252c, #539afc
rofi.color-urgent:  #1d252c, #d95468, #1d252c, #1d252c, #d95468

! Set the desired separator style
rofi.separator-style: solid
