! Base16 Oxocarbon Light
! Scheme author: shaunsingh/IBM, Tinted Theming (https://github.com/tinted-theming)
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #f2f4f8
! base01: #dde1e6
! base02: #bec6cf
! base03: #a1acba
! base04: #68788d
! base05: #525f70
! base06: #3d4652
! base07: #272d35
! base08: #ff7eb6
! base09: #ee5396
! base0A: #ff6f00
! base0B: #42be65
! base0C: #673ab7
! base0D: #0f62fe
! base0E: #be95ff
! base0F: #803800

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #dde1e6, #dde1e6, #f2f4f8

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #dde1e6, #525f70, #dde1e6, #dde1e6, #272d35
rofi.color-active:  #dde1e6, #0f62fe, #dde1e6, #dde1e6, #0f62fe
rofi.color-urgent:  #dde1e6, #ff7eb6, #dde1e6, #dde1e6, #ff7eb6

! Set the desired separator style
rofi.separator-style: solid
