! Base16 Deep Oceanic Next
! Scheme author: spearkkk (https://github.com/spearkkk)
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #001c1f
! base01: #002931
! base02: #003640
! base03: #004852
! base04: #0093a3
! base05: #d4e1e8
! base06: #e0e9ef
! base07: #f2f7f9
! base08: #d3464d
! base09: #e37552
! base0A: #f3b863
! base0B: #63b784
! base0C: #4fb7ae
! base0D: #568ccf
! base0E: #8b66d6
! base0F: #d0658e

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #002931, #002931, #001c1f

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #002931, #d4e1e8, #002931, #002931, #f2f7f9
rofi.color-active:  #002931, #568ccf, #002931, #002931, #568ccf
rofi.color-urgent:  #002931, #d3464d, #002931, #002931, #d3464d

! Set the desired separator style
rofi.separator-style: solid
