! Base16 Horizon Light
! Author: Michaël Ball (http://github.com/michael-ball/)

! base00: #fdf0ed
! base01: #fadad1
! base02: #f9cbbe
! base03: #bdb3b1
! base04: #948c8a
! base05: #403c3d
! base06: #302c2d
! base07: #201c1d
! base08: #e95678
! base09: #f9cec3
! base0A: #fadad1
! base0B: #29d398
! base0C: #59e1e3
! base0D: #26bbd9
! base0E: #ee64ac
! base0F: #f9cbbe

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #fadad1, #fadad1, #fdf0ed

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #fadad1, #403c3d, #fadad1, #fadad1, #201c1d
rofi.color-active:  #fadad1, #26bbd9, #fadad1, #fadad1, #26bbd9
rofi.color-urgent:  #fadad1, #e95678, #fadad1, #fadad1, #e95678

! Set the desired separator style
rofi.separator-style: solid
