! Base16 selenized-dark
! Scheme author: Jan Warchol (https://github.com/jan-warchol/selenized) / adapted to base16 by ali
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #103c48
! base01: #184956
! base02: #2d5b69
! base03: #72898f
! base04: #72898f
! base05: #adbcbc
! base06: #cad8d9
! base07: #cad8d9
! base08: #fa5750
! base09: #ed8649
! base0A: #dbb32d
! base0B: #75b938
! base0C: #41c7b9
! base0D: #4695f7
! base0E: #af88eb
! base0F: #f275be

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #184956, #184956, #103c48

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #184956, #adbcbc, #184956, #184956, #cad8d9
rofi.color-active:  #184956, #4695f7, #184956, #184956, #4695f7
rofi.color-urgent:  #184956, #fa5750, #184956, #184956, #fa5750

! Set the desired separator style
rofi.separator-style: solid
