! Base16 Catppuccin Frappe
! Scheme author: https://github.com/catppuccin/catppuccin
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #303446
! base01: #292c3c
! base02: #414559
! base03: #51576d
! base04: #626880
! base05: #c6d0f5
! base06: #f2d5cf
! base07: #babbf1
! base08: #e78284
! base09: #ef9f76
! base0A: #e5c890
! base0B: #a6d189
! base0C: #81c8be
! base0D: #8caaee
! base0E: #ca9ee6
! base0F: #eebebe

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #292c3c, #292c3c, #303446

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #292c3c, #c6d0f5, #292c3c, #292c3c, #babbf1
rofi.color-active:  #292c3c, #8caaee, #292c3c, #292c3c, #8caaee
rofi.color-urgent:  #292c3c, #e78284, #292c3c, #292c3c, #e78284

! Set the desired separator style
rofi.separator-style: solid
