! Base16 Blueish
! Scheme author: Ben Mayoras
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #182430
! base01: #243c54
! base02: #46290a
! base03: #616d78
! base04: #74afe7
! base05: #c8e1f8
! base06: #ddeaf6
! base07: #8f98a0
! base08: #4ce587
! base09: #f6a85c
! base0A: #82aaff
! base0B: #c3e88d
! base0C: #5fd1ff
! base0D: #82aaff
! base0E: #ff84dd
! base0F: #bbd2e8

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #243c54, #243c54, #182430

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #243c54, #c8e1f8, #243c54, #243c54, #8f98a0
rofi.color-active:  #243c54, #82aaff, #243c54, #243c54, #82aaff
rofi.color-urgent:  #243c54, #4ce587, #243c54, #243c54, #4ce587

! Set the desired separator style
rofi.separator-style: solid
