! Base16 Humanoid light
! Author: Thomas (tasmo) Friese

! base00: #f8f8f2
! base01: #efefe9
! base02: #deded8
! base03: #c0c0bd
! base04: #60615d
! base05: #232629
! base06: #2f3337
! base07: #070708
! base08: #b0151a
! base09: #ff3d00
! base0A: #ffb627
! base0B: #388e3c
! base0C: #008e8e
! base0D: #0082c9
! base0E: #700f98
! base0F: #b27701

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #efefe9, #efefe9, #f8f8f2

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #efefe9, #232629, #efefe9, #efefe9, #070708
rofi.color-active:  #efefe9, #0082c9, #efefe9, #efefe9, #0082c9
rofi.color-urgent:  #efefe9, #b0151a, #efefe9, #efefe9, #b0151a

! Set the desired separator style
rofi.separator-style: solid
