! Base16 Github
! Scheme author: Tinted Theming (https://github.com/tinted-theming)
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #eaeef2
! base01: #d0d7de
! base02: #afb8c1
! base03: #8c959f
! base04: #6e7781
! base05: #424a53
! base06: #32383f
! base07: #1f2328
! base08: #fa4549
! base09: #e16f24
! base0A: #bf8700
! base0B: #2da44e
! base0C: #339d9b
! base0D: #218bff
! base0E: #a475f9
! base0F: #4d2d00

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #d0d7de, #d0d7de, #eaeef2

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #d0d7de, #424a53, #d0d7de, #d0d7de, #1f2328
rofi.color-active:  #d0d7de, #218bff, #d0d7de, #d0d7de, #218bff
rofi.color-urgent:  #d0d7de, #fa4549, #d0d7de, #d0d7de, #fa4549

! Set the desired separator style
rofi.separator-style: solid
