! Base16 Default Light
! Author: Chris Kempson (http://chriskempson.com)

! base00: #f8f8f8
! base01: #e8e8e8
! base02: #d8d8d8
! base03: #b8b8b8
! base04: #585858
! base05: #383838
! base06: #282828
! base07: #181818
! base08: #ab4642
! base09: #dc9656
! base0A: #f7ca88
! base0B: #a1b56c
! base0C: #86c1b9
! base0D: #7cafc2
! base0E: #ba8baf
! base0F: #a16946

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #e8e8e8, #e8e8e8, #f8f8f8

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #e8e8e8, #383838, #e8e8e8, #e8e8e8, #181818
rofi.color-active:  #e8e8e8, #7cafc2, #e8e8e8, #e8e8e8, #7cafc2
rofi.color-urgent:  #e8e8e8, #ab4642, #e8e8e8, #e8e8e8, #ab4642

! Set the desired separator style
rofi.separator-style: solid
