! Base16 Outrun Dark
! Author: Hugo Delahousse (http://github.com/hugodelahousse/)

! base00: #00002a
! base01: #20204a
! base02: #30305a
! base03: #50507a
! base04: #b0b0da
! base05: #d0d0fa
! base06: #e0e0ff
! base07: #f5f5ff
! base08: #ff4242
! base09: #fc8d28
! base0A: #f3e877
! base0B: #59f176
! base0C: #0ef0f0
! base0D: #66b0ff
! base0E: #f10596
! base0F: #f003ef

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #20204a, #20204a, #00002a

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #20204a, #d0d0fa, #20204a, #20204a, #f5f5ff
rofi.color-active:  #20204a, #66b0ff, #20204a, #20204a, #66b0ff
rofi.color-urgent:  #20204a, #ff4242, #20204a, #20204a, #ff4242

! Set the desired separator style
rofi.separator-style: solid
