! Base16 Berlin
! Scheme author: xscriptor (https://github.com/xscriptor)
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #000000
! base01: #0e0e0e
! base02: #181818
! base03: #333333
! base04: #707070
! base05: #cccccc
! base06: #d6d6d6
! base07: #ffffff
! base08: #999999
! base09: #bbbbbb
! base0A: #dddddd
! base0B: #bbbbbb
! base0C: #cccccc
! base0D: #888888
! base0E: #aaaaaa
! base0F: #7a7a7a

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #0e0e0e, #0e0e0e, #000000

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #0e0e0e, #cccccc, #0e0e0e, #0e0e0e, #ffffff
rofi.color-active:  #0e0e0e, #888888, #0e0e0e, #0e0e0e, #888888
rofi.color-urgent:  #0e0e0e, #999999, #0e0e0e, #0e0e0e, #999999

! Set the desired separator style
rofi.separator-style: solid
