! Base16 Atelier Lakeside Light
! Author: Bram de Haan (http://atelierbramdehaan.nl)

! base00: #ebf8ff
! base01: #c1e4f6
! base02: #7ea2b4
! base03: #7195a8
! base04: #5a7b8c
! base05: #516d7b
! base06: #1f292e
! base07: #161b1d
! base08: #d22d72
! base09: #935c25
! base0A: #8a8a0f
! base0B: #568c3b
! base0C: #2d8f6f
! base0D: #257fad
! base0E: #6b6bb8
! base0F: #b72dd2

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #c1e4f6, #c1e4f6, #ebf8ff

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #c1e4f6, #516d7b, #c1e4f6, #c1e4f6, #161b1d
rofi.color-active:  #c1e4f6, #257fad, #c1e4f6, #c1e4f6, #257fad
rofi.color-urgent:  #c1e4f6, #d22d72, #c1e4f6, #c1e4f6, #d22d72

! Set the desired separator style
rofi.separator-style: solid
