! Base16 Cupcake
! Author: Chris Kempson (http://chriskempson.com)

! base00: #fbf1f2
! base01: #f2f1f4
! base02: #d8d5dd
! base03: #bfb9c6
! base04: #a59daf
! base05: #8b8198
! base06: #72677E
! base07: #585062
! base08: #D57E85
! base09: #EBB790
! base0A: #DCB16C
! base0B: #A3B367
! base0C: #69A9A7
! base0D: #7297B9
! base0E: #BB99B4
! base0F: #BAA58C

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #f2f1f4, #f2f1f4, #fbf1f2

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #f2f1f4, #8b8198, #f2f1f4, #f2f1f4, #585062
rofi.color-active:  #f2f1f4, #7297B9, #f2f1f4, #f2f1f4, #7297B9
rofi.color-urgent:  #f2f1f4, #D57E85, #f2f1f4, #f2f1f4, #D57E85

! Set the desired separator style
rofi.separator-style: solid
