! Base16 Github Light Colorblind
! Scheme author: Tinted Theming (https://github.com/tinted-theming)
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #ffffff
! base01: #f6f8fa
! base02: #afb8c1
! base03: #8c959f
! base04: #6e7781
! base05: #424a53
! base06: #32383f
! base07: #24292f
! base08: #8a4600
! base09: #0550ae
! base0A: #bf8700
! base0B: #0a3069
! base0C: #0550ae
! base0D: #8250df
! base0E: #b35900
! base0F: #6f3800

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #f6f8fa, #f6f8fa, #ffffff

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #f6f8fa, #424a53, #f6f8fa, #f6f8fa, #24292f
rofi.color-active:  #f6f8fa, #8250df, #f6f8fa, #f6f8fa, #8250df
rofi.color-urgent:  #f6f8fa, #8a4600, #f6f8fa, #f6f8fa, #8a4600

! Set the desired separator style
rofi.separator-style: solid
