! Base16 Framer
! Author: Framer (Maintained by Jesse Hoyos)

! base00: #181818
! base01: #151515
! base02: #464646
! base03: #747474
! base04: #b9b9b9
! base05: #d0d0d0
! base06: #e8e8e8
! base07: #eeeeee
! base08: #fd886b
! base09: #fc4769
! base0A: #fecb6e
! base0B: #32ccdc
! base0C: #acddfd
! base0D: #20bcfc
! base0E: #ba8cfc
! base0F: #b15f4a

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #151515, #151515, #181818

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #151515, #d0d0d0, #151515, #151515, #eeeeee
rofi.color-active:  #151515, #20bcfc, #151515, #151515, #20bcfc
rofi.color-urgent:  #151515, #fd886b, #151515, #151515, #fd886b

! Set the desired separator style
rofi.separator-style: solid
