! Base16 Material Lighter
! Author: Nate Peterson

! base00: #FAFAFA
! base01: #E7EAEC
! base02: #CCEAE7
! base03: #CCD7DA
! base04: #8796B0
! base05: #80CBC4
! base06: #80CBC4
! base07: #FFFFFF
! base08: #FF5370
! base09: #F76D47
! base0A: #FFB62C
! base0B: #91B859
! base0C: #39ADB5
! base0D: #6182B8
! base0E: #7C4DFF
! base0F: #E53935

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #E7EAEC, #E7EAEC, #FAFAFA

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #E7EAEC, #80CBC4, #E7EAEC, #E7EAEC, #FFFFFF
rofi.color-active:  #E7EAEC, #6182B8, #E7EAEC, #E7EAEC, #6182B8
rofi.color-urgent:  #E7EAEC, #FF5370, #E7EAEC, #E7EAEC, #FF5370

! Set the desired separator style
rofi.separator-style: solid
