! Base16 Darcula
! Author: jetbrains

! base00: #2b2b2b
! base01: #323232
! base02: #323232
! base03: #606366
! base04: #a4a3a3
! base05: #a9b7c6
! base06: #ffc66d
! base07: #ffffff
! base08: #4eade5
! base09: #689757
! base0A: #bbb529
! base0B: #6a8759
! base0C: #629755
! base0D: #9876aa
! base0E: #cc7832
! base0F: #808080

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #323232, #323232, #2b2b2b

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #323232, #a9b7c6, #323232, #323232, #ffffff
rofi.color-active:  #323232, #9876aa, #323232, #323232, #9876aa
rofi.color-urgent:  #323232, #4eade5, #323232, #323232, #4eade5

! Set the desired separator style
rofi.separator-style: solid
