! Base16 Apathy
! Author: Jannik Siebert (https://github.com/janniks)

! base00: #031A16
! base01: #0B342D
! base02: #184E45
! base03: #2B685E
! base04: #5F9C92
! base05: #81B5AC
! base06: #A7CEC8
! base07: #D2E7E4
! base08: #3E9688
! base09: #3E7996
! base0A: #3E4C96
! base0B: #883E96
! base0C: #963E4C
! base0D: #96883E
! base0E: #4C963E
! base0F: #3E965B

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #0B342D, #0B342D, #031A16

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #0B342D, #81B5AC, #0B342D, #0B342D, #D2E7E4
rofi.color-active:  #0B342D, #96883E, #0B342D, #0B342D, #96883E
rofi.color-urgent:  #0B342D, #3E9688, #0B342D, #0B342D, #3E9688

! Set the desired separator style
rofi.separator-style: solid
