! Base16 Bespin
! Author: Jan T. Sott

! base00: #28211c
! base01: #36312e
! base02: #5e5d5c
! base03: #666666
! base04: #797977
! base05: #8a8986
! base06: #9d9b97
! base07: #baae9e
! base08: #cf6a4c
! base09: #cf7d34
! base0A: #f9ee98
! base0B: #54be0d
! base0C: #afc4db
! base0D: #5ea6ea
! base0E: #9b859d
! base0F: #937121

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #36312e, #36312e, #28211c

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #36312e, #8a8986, #36312e, #36312e, #baae9e
rofi.color-active:  #36312e, #5ea6ea, #36312e, #36312e, #5ea6ea
rofi.color-urgent:  #36312e, #cf6a4c, #36312e, #36312e, #cf6a4c

! Set the desired separator style
rofi.separator-style: solid
