! Base16 3024
! Author: Jan T. Sott (http://github.com/idleberg)

! base00: #090300
! base01: #3a3432
! base02: #4a4543
! base03: #5c5855
! base04: #807d7c
! base05: #a5a2a2
! base06: #d6d5d4
! base07: #f7f7f7
! base08: #db2d20
! base09: #e8bbd0
! base0A: #fded02
! base0B: #01a252
! base0C: #b5e4f4
! base0D: #01a0e4
! base0E: #a16a94
! base0F: #cdab53

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #3a3432, #3a3432, #090300

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #3a3432, #a5a2a2, #3a3432, #3a3432, #f7f7f7
rofi.color-active:  #3a3432, #01a0e4, #3a3432, #3a3432, #01a0e4
rofi.color-urgent:  #3a3432, #db2d20, #3a3432, #3a3432, #db2d20

! Set the desired separator style
rofi.separator-style: solid
