! Base16 Chicago Night
! Scheme author: Wendell, Ryan &lt;ryanjwendell@gmail.com&gt;
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #1e2a24
! base01: #2a3b32
! base02: #364c40
! base03: #5f7368
! base04: #8a9a91
! base05: #a7b8af
! base06: #c1cdc7
! base07: #dbe3de
! base08: #c60c30
! base09: #f9461c
! base0A: #f9e300
! base0B: #009b3a
! base0C: #00a1de
! base0D: #522398
! base0E: #e27ea6
! base0F: #62361b

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #2a3b32, #2a3b32, #1e2a24

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #2a3b32, #a7b8af, #2a3b32, #2a3b32, #dbe3de
rofi.color-active:  #2a3b32, #522398, #2a3b32, #2a3b32, #522398
rofi.color-urgent:  #2a3b32, #c60c30, #2a3b32, #2a3b32, #c60c30

! Set the desired separator style
rofi.separator-style: solid
