! Base16 Chinoiserie Morandi
! Scheme author: Di Wang (https://cs.cmu.edu/~diw3)
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #1d1d1d
! base01: #282828
! base02: #373737
! base03: #918072
! base04: #bdaead
! base05: #c4cbcf
! base06: #eee7f2
! base07: #fffef9
! base08: #c06061
! base09: #ff937f
! base0A: #e5bc84
! base0B: #8ca07b
! base0C: #5e8c9b
! base0D: #839ec9
! base0E: #98a1d8
! base0F: #d9cdb4

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #282828, #282828, #1d1d1d

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #282828, #c4cbcf, #282828, #282828, #fffef9
rofi.color-active:  #282828, #839ec9, #282828, #282828, #839ec9
rofi.color-urgent:  #282828, #c06061, #282828, #282828, #c06061

! Set the desired separator style
rofi.separator-style: solid
