! Base16 Yesterday Bright
! Scheme author: FroZnShiva (https://github.com/FroZnShiva)
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #343d46
! base01: #4f5b66
! base02: #65737e
! base03: #a7adba
! base04: #c0c5ce
! base05: #dfe1e8
! base06: #eff1f5
! base07: #ffffff
! base08: #d54e53
! base09: #e78c45
! base0A: #e7c547
! base0B: #b9ca4a
! base0C: #70c0b1
! base0D: #7aa6da
! base0E: #c397d8
! base0F: #9a806d

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #4f5b66, #4f5b66, #343d46

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #4f5b66, #dfe1e8, #4f5b66, #4f5b66, #ffffff
rofi.color-active:  #4f5b66, #7aa6da, #4f5b66, #4f5b66, #7aa6da
rofi.color-urgent:  #4f5b66, #d54e53, #4f5b66, #4f5b66, #d54e53

! Set the desired separator style
rofi.separator-style: solid
