! Base16 London Tube
! Author: Jan T. Sott

! base00: #231f20
! base01: #1c3f95
! base02: #5a5758
! base03: #737171
! base04: #959ca1
! base05: #d9d8d8
! base06: #e7e7e8
! base07: #ffffff
! base08: #ee2e24
! base09: #f386a1
! base0A: #ffd204
! base0B: #00853e
! base0C: #85cebc
! base0D: #009ddc
! base0E: #98005d
! base0F: #b06110

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #1c3f95, #1c3f95, #231f20

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #1c3f95, #d9d8d8, #1c3f95, #1c3f95, #ffffff
rofi.color-active:  #1c3f95, #009ddc, #1c3f95, #1c3f95, #009ddc
rofi.color-urgent:  #1c3f95, #ee2e24, #1c3f95, #1c3f95, #ee2e24

! Set the desired separator style
rofi.separator-style: solid
