! Base16 Tokyodark
! Scheme author: Jamy Golden (https://github.com/JamyGolden), Based on Tokyodark.nvim (https://github.com/tiagovla/tokyodark.nvim)
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #11121d
! base01: #212234
! base02: #212234
! base03: #353945
! base04: #4a5057
! base05: #a0a8cd
! base06: #abb2bf
! base07: #bcc2dc
! base08: #ee6d85
! base09: #f6955b
! base0A: #d7a65f
! base0B: #95c561
! base0C: #9fbbf3
! base0D: #7199ee
! base0E: #a485dd
! base0F: #773440

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #212234, #212234, #11121d

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #212234, #a0a8cd, #212234, #212234, #bcc2dc
rofi.color-active:  #212234, #7199ee, #212234, #212234, #7199ee
rofi.color-urgent:  #212234, #ee6d85, #212234, #212234, #ee6d85

! Set the desired separator style
rofi.separator-style: solid
