! Base16 OceanicNext
! Author: https://github.com/voronianski/oceanic-next-color-scheme

! base00: #1b2b34
! base01: #343d46
! base02: #4f5b66
! base03: #65737e
! base04: #a7adba
! base05: #c0c5ce
! base06: #cdd3de
! base07: #d8dee9
! base08: #ec5f67
! base09: #f99157
! base0A: #fac863
! base0B: #99c794
! base0C: #5fb3b3
! base0D: #6699cc
! base0E: #c594c5
! base0F: #ab7967

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #343d46, #343d46, #1b2b34

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #343d46, #c0c5ce, #343d46, #343d46, #d8dee9
rofi.color-active:  #343d46, #6699cc, #343d46, #343d46, #6699cc
rofi.color-urgent:  #343d46, #ec5f67, #343d46, #343d46, #ec5f67

! Set the desired separator style
rofi.separator-style: solid
