! Base16 Digital Rain
! Scheme author: Nathan Byrd (https://github.com/cognitivegears)
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #000000
! base01: #4a806c
! base02: #4a8d7e
! base03: #7c8d7c
! base04: #919893
! base05: #00ff00
! base06: #c4cec4
! base07: #d8e2dc
! base08: #c85a46
! base09: #c86428
! base0A: #a67a50
! base0B: #64c83c
! base0C: #468c78
! base0D: #5482af
! base0E: #9472b4
! base0F: #b37c5e

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #4a806c, #4a806c, #000000

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #4a806c, #00ff00, #4a806c, #4a806c, #d8e2dc
rofi.color-active:  #4a806c, #5482af, #4a806c, #4a806c, #5482af
rofi.color-urgent:  #4a806c, #c85a46, #4a806c, #4a806c, #c85a46

! Set the desired separator style
rofi.separator-style: solid
