! Base16 Nord
! Author: arcticicestudio

! base00: #2E3440
! base01: #3B4252
! base02: #434C5E
! base03: #4C566A
! base04: #D8DEE9
! base05: #E5E9F0
! base06: #ECEFF4
! base07: #8FBCBB
! base08: #88C0D0
! base09: #81A1C1
! base0A: #5E81AC
! base0B: #BF616A
! base0C: #D08770
! base0D: #EBCB8B
! base0E: #A3BE8C
! base0F: #B48EAD

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #3B4252, #3B4252, #2E3440

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #3B4252, #E5E9F0, #3B4252, #3B4252, #8FBCBB
rofi.color-active:  #3B4252, #EBCB8B, #3B4252, #3B4252, #EBCB8B
rofi.color-urgent:  #3B4252, #88C0D0, #3B4252, #3B4252, #88C0D0

! Set the desired separator style
rofi.separator-style: solid
