! Base16 Helsinki
! Scheme author: xscriptor (https://github.com/xscriptor)
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #f8fafe
! base01: #edeef1
! base02: #e4e5e7
! base03: #b0a999
! base04: #8d8a82
! base05: #544d40
! base06: #3b362d
! base07: #000000
! base08: #1faa9e
! base09: #268da6
! base0A: #2e70ad
! base0B: #733d9a
! base0C: #bd4c3d
! base0D: #b55a0f
! base0E: #3e9d21
! base0F: #1b6374

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #edeef1, #edeef1, #f8fafe

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #edeef1, #544d40, #edeef1, #edeef1, #000000
rofi.color-active:  #edeef1, #b55a0f, #edeef1, #edeef1, #b55a0f
rofi.color-urgent:  #edeef1, #1faa9e, #edeef1, #edeef1, #1faa9e

! Set the desired separator style
rofi.separator-style: solid
