! Base16 Harmonic16 Dark
! Author: Jannik Siebert (https://github.com/janniks)

! base00: #0b1c2c
! base01: #223b54
! base02: #405c79
! base03: #627e99
! base04: #aabcce
! base05: #cbd6e2
! base06: #e5ebf1
! base07: #f7f9fb
! base08: #bf8b56
! base09: #bfbf56
! base0A: #8bbf56
! base0B: #56bf8b
! base0C: #568bbf
! base0D: #8b56bf
! base0E: #bf568b
! base0F: #bf5656

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #223b54, #223b54, #0b1c2c

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #223b54, #cbd6e2, #223b54, #223b54, #f7f9fb
rofi.color-active:  #223b54, #8b56bf, #223b54, #223b54, #8b56bf
rofi.color-urgent:  #223b54, #bf8b56, #223b54, #223b54, #bf8b56

! Set the desired separator style
rofi.separator-style: solid
