! Base16 Kanagawa Dragon
! Scheme author: Stefan Weigl-Bosker (https://github.com/sweiglbosker), Tommaso Laurenzi (https://github.com/rebelot/kanagawa.nvim)
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #181616
! base01: #282727
! base02: #393836
! base03: #625e5a
! base04: #737c73
! base05: #c5c9c5
! base06: #c8c093
! base07: #c5c9c5
! base08: #c4746e
! base09: #b6927b
! base0A: #c4b28a
! base0B: #8a9a7b
! base0C: #8ea4a2
! base0D: #8ba4b0
! base0E: #a292a3
! base0F: #b98d7b

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #282727, #282727, #181616

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #282727, #c5c9c5, #282727, #282727, #c5c9c5
rofi.color-active:  #282727, #8ba4b0, #282727, #282727, #8ba4b0
rofi.color-urgent:  #282727, #c4746e, #282727, #282727, #c4746e

! Set the desired separator style
rofi.separator-style: solid
