! Base16 Precious Dark Fifteen
! Scheme author: 4lex4 &lt;4lex49@zoho.com&gt;
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #23262b
! base01: #303337
! base02: #3e4044
! base03: #898989
! base04: #abaaa8
! base05: #bab9b6
! base06: #bab9b6
! base07: #bab9b6
! base08: #ff8782
! base09: #e99857
! base0A: #cfa546
! base0B: #95b659
! base0C: #42bda7
! base0D: #66b0ef
! base0E: #b799ff
! base0F: #f382d8

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #303337, #303337, #23262b

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #303337, #bab9b6, #303337, #303337, #bab9b6
rofi.color-active:  #303337, #66b0ef, #303337, #303337, #66b0ef
rofi.color-urgent:  #303337, #ff8782, #303337, #303337, #ff8782

! Set the desired separator style
rofi.separator-style: solid
