! Base16 Harmonic16 Light
! Author: Jannik Siebert (https://github.com/janniks)

! base00: #f7f9fb
! base01: #e5ebf1
! base02: #cbd6e2
! base03: #aabcce
! base04: #627e99
! base05: #405c79
! base06: #223b54
! base07: #0b1c2c
! base08: #bf8b56
! base09: #bfbf56
! base0A: #8bbf56
! base0B: #56bf8b
! base0C: #568bbf
! base0D: #8b56bf
! base0E: #bf568b
! base0F: #bf5656

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #e5ebf1, #e5ebf1, #f7f9fb

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #e5ebf1, #405c79, #e5ebf1, #e5ebf1, #0b1c2c
rofi.color-active:  #e5ebf1, #8b56bf, #e5ebf1, #e5ebf1, #8b56bf
rofi.color-urgent:  #e5ebf1, #bf8b56, #e5ebf1, #e5ebf1, #bf8b56

! Set the desired separator style
rofi.separator-style: solid
