! Base16 Tokyo City Dark
! Scheme author: Michaël Ball
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #171d23
! base01: #1d252c
! base02: #28323a
! base03: #526270
! base04: #b7c5d3
! base05: #d8e2ec
! base06: #f6f6f8
! base07: #fbfbfd
! base08: #f7768e
! base09: #ff9e64
! base0A: #b7c5d3
! base0B: #9ece6a
! base0C: #89ddff
! base0D: #7aa2f7
! base0E: #bb9af7
! base0F: #bb9af7

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #1d252c, #1d252c, #171d23

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #1d252c, #d8e2ec, #1d252c, #1d252c, #fbfbfd
rofi.color-active:  #1d252c, #7aa2f7, #1d252c, #1d252c, #7aa2f7
rofi.color-urgent:  #1d252c, #f7768e, #1d252c, #1d252c, #f7768e

! Set the desired separator style
rofi.separator-style: solid
