! Base16 Embers
! Author: Jannik Siebert (https://github.com/janniks)

! base00: #16130f
! base01: #2c2620
! base02: #433b32
! base03: #5a5047
! base04: #8a8075
! base05: #a39a90
! base06: #beb6ae
! base07: #dbd6d1
! base08: #826d57
! base09: #828257
! base0A: #6d8257
! base0B: #57826d
! base0C: #576d82
! base0D: #6d5782
! base0E: #82576d
! base0F: #825757

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #2c2620, #2c2620, #16130f

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #2c2620, #a39a90, #2c2620, #2c2620, #dbd6d1
rofi.color-active:  #2c2620, #6d5782, #2c2620, #2c2620, #6d5782
rofi.color-urgent:  #2c2620, #826d57, #2c2620, #2c2620, #826d57

! Set the desired separator style
rofi.separator-style: solid
