! Base16 Summerfruit Dark
! Author: Christopher Corley (http://christop.club/)

! base00: #151515
! base01: #202020
! base02: #303030
! base03: #505050
! base04: #b0b0b0
! base05: #d0d0d0
! base06: #e0e0e0
! base07: #ffffff
! base08: #ff0086
! base09: #fd8900
! base0A: #aba800
! base0B: #00c918
! base0C: #1faaaa
! base0D: #3777e6
! base0E: #ad00a1
! base0F: #cc6633

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #202020, #202020, #151515

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #202020, #d0d0d0, #202020, #202020, #ffffff
rofi.color-active:  #202020, #3777e6, #202020, #202020, #3777e6
rofi.color-urgent:  #202020, #ff0086, #202020, #202020, #ff0086

! Set the desired separator style
rofi.separator-style: solid
