! Base16 Atelier Plateau
! Author: Bram de Haan (http://atelierbramdehaan.nl)

! base00: #1b1818
! base01: #292424
! base02: #585050
! base03: #655d5d
! base04: #7e7777
! base05: #8a8585
! base06: #e7dfdf
! base07: #f4ecec
! base08: #ca4949
! base09: #b45a3c
! base0A: #a06e3b
! base0B: #4b8b8b
! base0C: #5485b6
! base0D: #7272ca
! base0E: #8464c4
! base0F: #bd5187

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #292424, #292424, #1b1818

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #292424, #8a8585, #292424, #292424, #f4ecec
rofi.color-active:  #292424, #7272ca, #292424, #292424, #7272ca
rofi.color-urgent:  #292424, #ca4949, #292424, #292424, #ca4949

! Set the desired separator style
rofi.separator-style: solid
