! Base16 Flexoki Dark
! Scheme author: Steph Ango (https://github.com/kepano/flexoki)
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #100f0f
! base01: #1c1b1a
! base02: #282726
! base03: #575653
! base04: #878580
! base05: #cecdc3
! base06: #e6e4d9
! base07: #fffcf0
! base08: #d14d41
! base09: #da702c
! base0A: #d0a215
! base0B: #879a39
! base0C: #3aa99f
! base0D: #4385be
! base0E: #8b7ec8
! base0F: #ce5d97

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #1c1b1a, #1c1b1a, #100f0f

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #1c1b1a, #cecdc3, #1c1b1a, #1c1b1a, #fffcf0
rofi.color-active:  #1c1b1a, #4385be, #1c1b1a, #1c1b1a, #4385be
rofi.color-urgent:  #1c1b1a, #d14d41, #1c1b1a, #1c1b1a, #d14d41

! Set the desired separator style
rofi.separator-style: solid
