! Base16 Terracotta
! Scheme author: Alexander Rossell Hayes (https://github.com/rossellhayes)
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #efeae8
! base01: #dfd6d1
! base02: #d0c1bb
! base03: #c0aca4
! base04: #59453d
! base05: #473731
! base06: #352a25
! base07: #241c19
! base08: #a75045
! base09: #bd6942
! base0A: #ce943e
! base0B: #7a894a
! base0C: #847f9e
! base0D: #625574
! base0E: #8d5968
! base0F: #b07158

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #dfd6d1, #dfd6d1, #efeae8

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #dfd6d1, #473731, #dfd6d1, #dfd6d1, #241c19
rofi.color-active:  #dfd6d1, #625574, #dfd6d1, #dfd6d1, #625574
rofi.color-urgent:  #dfd6d1, #a75045, #dfd6d1, #dfd6d1, #a75045

! Set the desired separator style
rofi.separator-style: solid
