! Base16 Qualia
! Author: isaacwhanson

! base00: #101010
! base01: #454545
! base02: #454545
! base03: #454545
! base04: #808080
! base05: #C0C0C0
! base06: #C0C0C0
! base07: #454545
! base08: #EFA6A2
! base09: #A3B8EF
! base0A: #E6A3DC
! base0B: #80C990
! base0C: #C8C874
! base0D: #50CACD
! base0E: #E0AF85
! base0F: #808080

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #454545, #454545, #101010

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #454545, #C0C0C0, #454545, #454545, #454545
rofi.color-active:  #454545, #50CACD, #454545, #454545, #50CACD
rofi.color-urgent:  #454545, #EFA6A2, #454545, #454545, #EFA6A2

! Set the desired separator style
rofi.separator-style: solid
