! Base16 Gruvbox Material Light, Soft
! Scheme author: Mayush Kumar (https://github.com/MayushKumar), sainnhe (https://github.com/sainnhe/gruvbox-material-vscode)
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #f2e5bc
! base01: #ebdbb2
! base02: #c9b99a
! base03: #a89984
! base04: #665c54
! base05: #654735
! base06: #3c3836
! base07: #282828
! base08: #c14a4a
! base09: #c35e0a
! base0A: #b47109
! base0B: #6c782e
! base0C: #4c7a5d
! base0D: #45707a
! base0E: #945e80
! base0F: #e78a4e

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #ebdbb2, #ebdbb2, #f2e5bc

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #ebdbb2, #654735, #ebdbb2, #ebdbb2, #282828
rofi.color-active:  #ebdbb2, #45707a, #ebdbb2, #ebdbb2, #45707a
rofi.color-urgent:  #ebdbb2, #c14a4a, #ebdbb2, #ebdbb2, #c14a4a

! Set the desired separator style
rofi.separator-style: solid
