! Base16 Kanagawa
! Scheme author: Tommaso Laurenzi (https://github.com/rebelot)
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #1f1f28
! base01: #16161d
! base02: #223249
! base03: #54546d
! base04: #727169
! base05: #dcd7ba
! base06: #c8c093
! base07: #717c7c
! base08: #c34043
! base09: #ffa066
! base0A: #c0a36e
! base0B: #76946a
! base0C: #6a9589
! base0D: #7e9cd8
! base0E: #957fb8
! base0F: #d27e99

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #16161d, #16161d, #1f1f28

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #16161d, #dcd7ba, #16161d, #16161d, #717c7c
rofi.color-active:  #16161d, #7e9cd8, #16161d, #16161d, #7e9cd8
rofi.color-urgent:  #16161d, #c34043, #16161d, #16161d, #c34043

! Set the desired separator style
rofi.separator-style: solid
