! Base16 One Light
! Author: Daniel Pfeifer (http://github.com/purpleKarrot)

! base00: #fafafa
! base01: #f0f0f1
! base02: #e5e5e6
! base03: #a0a1a7
! base04: #696c77
! base05: #383a42
! base06: #202227
! base07: #090a0b
! base08: #ca1243
! base09: #d75f00
! base0A: #c18401
! base0B: #50a14f
! base0C: #0184bc
! base0D: #4078f2
! base0E: #a626a4
! base0F: #986801

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #f0f0f1, #f0f0f1, #fafafa

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #f0f0f1, #383a42, #f0f0f1, #f0f0f1, #090a0b
rofi.color-active:  #f0f0f1, #4078f2, #f0f0f1, #f0f0f1, #4078f2
rofi.color-urgent:  #f0f0f1, #ca1243, #f0f0f1, #f0f0f1, #ca1243

! Set the desired separator style
rofi.separator-style: solid
