! Base16 Isotope
! Author: Jan T. Sott

! base00: #000000
! base01: #404040
! base02: #606060
! base03: #808080
! base04: #c0c0c0
! base05: #d0d0d0
! base06: #e0e0e0
! base07: #ffffff
! base08: #ff0000
! base09: #ff9900
! base0A: #ff0099
! base0B: #33ff00
! base0C: #00ffff
! base0D: #0066ff
! base0E: #cc00ff
! base0F: #3300ff

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #404040, #404040, #000000

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #404040, #d0d0d0, #404040, #404040, #ffffff
rofi.color-active:  #404040, #0066ff, #404040, #404040, #0066ff
rofi.color-urgent:  #404040, #ff0000, #404040, #404040, #ff0000

! Set the desired separator style
rofi.separator-style: solid
