! Base16 Nord
! Author: arcticicestudio

! base00: #2e3440
! base01: #3b4252
! base02: #434c5e
! base03: #4c566a
! base04: #d8dee9
! base05: #e5e9f0
! base06: #eceff4
! base07: #8fbcbb
! base08: #88c0d0
! base09: #81a1c1
! base0A: #5e81ac
! base0B: #bf616a
! base0C: #d08770
! base0D: #ebcb8b
! base0E: #a3be8c
! base0F: #b48ead

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #3b4252, #3b4252, #2e3440

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #3b4252, #e5e9f0, #3b4252, #3b4252, #8fbcbb
rofi.color-active:  #3b4252, #ebcb8b, #3b4252, #3b4252, #ebcb8b
rofi.color-urgent:  #3b4252, #88c0d0, #3b4252, #3b4252, #88c0d0

! Set the desired separator style
rofi.separator-style: solid
