! Base16 Atelier Dune Light
! Author: Bram de Haan (http://atelierbramdehaan.nl)

! base00: #fefbec
! base01: #e8e4cf
! base02: #a6a28c
! base03: #999580
! base04: #7d7a68
! base05: #6e6b5e
! base06: #292824
! base07: #20201d
! base08: #d73737
! base09: #b65611
! base0A: #ae9513
! base0B: #60ac39
! base0C: #1fad83
! base0D: #6684e1
! base0E: #b854d4
! base0F: #d43552

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #e8e4cf, #e8e4cf, #fefbec

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #e8e4cf, #6e6b5e, #e8e4cf, #e8e4cf, #20201d
rofi.color-active:  #e8e4cf, #6684e1, #e8e4cf, #e8e4cf, #6684e1
rofi.color-urgent:  #e8e4cf, #d73737, #e8e4cf, #e8e4cf, #d73737

! Set the desired separator style
rofi.separator-style: solid
