! Base16 Material
! Author: Nate Peterson

! base00: #263238
! base01: #2e3c43
! base02: #314549
! base03: #546e7a
! base04: #b2ccd6
! base05: #eeffff
! base06: #eeffff
! base07: #ffffff
! base08: #f07178
! base09: #f78c6c
! base0A: #ffcb6b
! base0B: #c3e88d
! base0C: #89ddff
! base0D: #82aaff
! base0E: #c792ea
! base0F: #ff5370

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #2e3c43, #2e3c43, #263238

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #2e3c43, #eeffff, #2e3c43, #2e3c43, #ffffff
rofi.color-active:  #2e3c43, #82aaff, #2e3c43, #2e3c43, #82aaff
rofi.color-urgent:  #2e3c43, #f07178, #2e3c43, #2e3c43, #f07178

! Set the desired separator style
rofi.separator-style: solid
