! Base16 iA Light
! Author: iA Inc. (modified by aramisgithub)

! base00: #f6f6f6
! base01: #dedede
! base02: #bde5f2
! base03: #898989
! base04: #767676
! base05: #181818
! base06: #e8e8e8
! base07: #f8f8f8
! base08: #9c5a02
! base09: #c43e18
! base0A: #c48218
! base0B: #38781c
! base0C: #2d6bb1
! base0D: #48bac2
! base0E: #a94598
! base0F: #8b6c37

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #dedede, #dedede, #f6f6f6

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #dedede, #181818, #dedede, #dedede, #f8f8f8
rofi.color-active:  #dedede, #48bac2, #dedede, #dedede, #48bac2
rofi.color-urgent:  #dedede, #9c5a02, #dedede, #dedede, #9c5a02

! Set the desired separator style
rofi.separator-style: solid
