! Base16 Gruvbox light, soft
! Author: Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)

! base00: #f2e5bc
! base01: #ebdbb2
! base02: #d5c4a1
! base03: #bdae93
! base04: #665c54
! base05: #504945
! base06: #3c3836
! base07: #282828
! base08: #9d0006
! base09: #af3a03
! base0A: #b57614
! base0B: #79740e
! base0C: #427b58
! base0D: #076678
! base0E: #8f3f71
! base0F: #d65d0e

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #ebdbb2, #ebdbb2, #f2e5bc

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #ebdbb2, #504945, #ebdbb2, #ebdbb2, #282828
rofi.color-active:  #ebdbb2, #076678, #ebdbb2, #ebdbb2, #076678
rofi.color-urgent:  #ebdbb2, #9d0006, #ebdbb2, #ebdbb2, #9d0006

! Set the desired separator style
rofi.separator-style: solid
