! Base16 Tokyo Night Terminal Storm
! Scheme author: Michaël Ball
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #24283b
! base01: #1a1b26
! base02: #343a52
! base03: #444b6a
! base04: #787c99
! base05: #787c99
! base06: #cbccd1
! base07: #d5d6db
! base08: #f7768e
! base09: #ff9e64
! base0A: #e0af68
! base0B: #41a6b5
! base0C: #7dcfff
! base0D: #7aa2f7
! base0E: #bb9af7
! base0F: #d18616

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #1a1b26, #1a1b26, #24283b

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #1a1b26, #787c99, #1a1b26, #1a1b26, #d5d6db
rofi.color-active:  #1a1b26, #7aa2f7, #1a1b26, #1a1b26, #7aa2f7
rofi.color-urgent:  #1a1b26, #f7768e, #1a1b26, #1a1b26, #f7768e

! Set the desired separator style
rofi.separator-style: solid
