! Base16 DanQing
! Author: Wenhan Zhu (Cosmos) (zhuwenhan950913@gmail.com)

! base00: #2d302f
! base01: #434846
! base02: #5a605d
! base03: #9da8a3
! base04: #cad8d2
! base05: #e0f0eF
! base06: #ecf6f2
! base07: #fcfefd
! base08: #F9906F
! base09: #B38A61
! base0A: #F0C239
! base0B: #8AB361
! base0C: #30DFF3
! base0D: #B0A4E3
! base0E: #CCA4E3
! base0F: #CA6924

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #434846, #434846, #2d302f

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #434846, #e0f0eF, #434846, #434846, #fcfefd
rofi.color-active:  #434846, #B0A4E3, #434846, #434846, #B0A4E3
rofi.color-urgent:  #434846, #F9906F, #434846, #434846, #F9906F

! Set the desired separator style
rofi.separator-style: solid
