! Base16 Atelier Seaside
! Author: Bram de Haan (http://atelierbramdehaan.nl)

! base00: #131513
! base01: #242924
! base02: #5e6e5e
! base03: #687d68
! base04: #809980
! base05: #8ca68c
! base06: #cfe8cf
! base07: #f4fbf4
! base08: #e6193c
! base09: #87711d
! base0A: #98981b
! base0B: #29a329
! base0C: #1999b3
! base0D: #3d62f5
! base0E: #ad2bee
! base0F: #e619c3

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #242924, #242924, #131513

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #242924, #8ca68c, #242924, #242924, #f4fbf4
rofi.color-active:  #242924, #3d62f5, #242924, #242924, #3d62f5
rofi.color-urgent:  #242924, #e6193c, #242924, #242924, #e6193c

! Set the desired separator style
rofi.separator-style: solid
