! Base16 Tokyo Night Light
! Scheme author: Michaël Ball
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #d5d6db
! base01: #cbccd1
! base02: #dfe0e5
! base03: #9699a3
! base04: #4c505e
! base05: #343b59
! base06: #1a1b26
! base07: #1a1b26
! base08: #343b58
! base09: #965027
! base0A: #166775
! base0B: #485e30
! base0C: #3e6968
! base0D: #34548a
! base0E: #5a4a78
! base0F: #8c4351

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #cbccd1, #cbccd1, #d5d6db

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #cbccd1, #343b59, #cbccd1, #cbccd1, #1a1b26
rofi.color-active:  #cbccd1, #34548a, #cbccd1, #cbccd1, #34548a
rofi.color-urgent:  #cbccd1, #343b58, #cbccd1, #cbccd1, #343b58

! Set the desired separator style
rofi.separator-style: solid
