! Base16 OneDark
! Author: Lalit Magant (http://github.com/tilal6991)

! base00: #282c34
! base01: #353b45
! base02: #3e4451
! base03: #545862
! base04: #565c64
! base05: #abb2bf
! base06: #b6bdca
! base07: #c8ccd4
! base08: #e06c75
! base09: #d19a66
! base0A: #e5c07b
! base0B: #98c379
! base0C: #56b6c2
! base0D: #61afef
! base0E: #c678dd
! base0F: #be5046

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #353b45, #353b45, #282c34

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #353b45, #abb2bf, #353b45, #353b45, #c8ccd4
rofi.color-active:  #353b45, #61afef, #353b45, #353b45, #61afef
rofi.color-urgent:  #353b45, #e06c75, #353b45, #353b45, #e06c75

! Set the desired separator style
rofi.separator-style: solid
