! Base16 ShadeSmear Dark
! Scheme author: Kyle Giammarco (http://kyle.giammar.co)
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #232323
! base01: #1c1c1c
! base02: #4e4e4e
! base03: #c0c0c0
! base04: #e4e4e4
! base05: #dbdbdb
! base06: #e4e4e4
! base07: #1c1c1c
! base08: #cc5450
! base09: #a64270
! base0A: #307878
! base0B: #71983b
! base0C: #c57d42
! base0D: #376388
! base0E: #d7ab54
! base0F: #6d6d6d

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #1c1c1c, #1c1c1c, #232323

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #1c1c1c, #dbdbdb, #1c1c1c, #1c1c1c, #1c1c1c
rofi.color-active:  #1c1c1c, #376388, #1c1c1c, #1c1c1c, #376388
rofi.color-urgent:  #1c1c1c, #cc5450, #1c1c1c, #1c1c1c, #cc5450

! Set the desired separator style
rofi.separator-style: solid
