! Base16 Brogrammer
! Author: Vik Ramanujam (http://github.com/piggyslasher)

! base00: #1f1f1f
! base01: #f81118
! base02: #2dc55e
! base03: #ecba0f
! base04: #2a84d2
! base05: #4e5ab7
! base06: #1081d6
! base07: #d6dbe5
! base08: #d6dbe5
! base09: #de352e
! base0A: #1dd361
! base0B: #f3bd09
! base0C: #1081d6
! base0D: #5350b9
! base0E: #0f7ddb
! base0F: #ffffff

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #f81118, #f81118, #1f1f1f

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #f81118, #4e5ab7, #f81118, #f81118, #d6dbe5
rofi.color-active:  #f81118, #5350b9, #f81118, #f81118, #5350b9
rofi.color-urgent:  #f81118, #d6dbe5, #f81118, #f81118, #d6dbe5

! Set the desired separator style
rofi.separator-style: solid
