! Base16 Flat
! Author: Chris Kempson (http://chriskempson.com)

! base00: #2c3e50
! base01: #34495e
! base02: #7f8c8d
! base03: #95a5a6
! base04: #bdc3c7
! base05: #e0e0e0
! base06: #f5f5f5
! base07: #ecf0f1
! base08: #e74c3c
! base09: #e67e22
! base0A: #f1c40f
! base0B: #2ecc71
! base0C: #1abc9c
! base0D: #3498db
! base0E: #9b59b6
! base0F: #be643c

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #34495e, #34495e, #2c3e50

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #34495e, #e0e0e0, #34495e, #34495e, #ecf0f1
rofi.color-active:  #34495e, #3498db, #34495e, #34495e, #3498db
rofi.color-urgent:  #34495e, #e74c3c, #34495e, #34495e, #e74c3c

! Set the desired separator style
rofi.separator-style: solid
