! Base16 Equilibrium Light
! Author: Carlo Abelli

! base00: #f5f0e7
! base01: #e7e2d9
! base02: #d8d4cb
! base03: #73777f
! base04: #5a5f66
! base05: #43474e
! base06: #2c3138
! base07: #181c22
! base08: #d02023
! base09: #bf3e05
! base0A: #9d6f00
! base0B: #637200
! base0C: #007a72
! base0D: #0073b5
! base0E: #4e66b6
! base0F: #c42775

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #e7e2d9, #e7e2d9, #f5f0e7

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #e7e2d9, #43474e, #e7e2d9, #e7e2d9, #181c22
rofi.color-active:  #e7e2d9, #0073b5, #e7e2d9, #e7e2d9, #0073b5
rofi.color-urgent:  #e7e2d9, #d02023, #e7e2d9, #e7e2d9, #d02023

! Set the desired separator style
rofi.separator-style: solid
