! Base16 Penumbra Light Contrast Plus
! Scheme author: Zachary Weiss (https://github.com/zacharyweiss)
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #fffdfb
! base01: #fff7ed
! base02: #f2e6d4
! base03: #cecece
! base04: #9e9e9e
! base05: #636363
! base06: #24272b
! base07: #181b1f
! base08: #df7f78
! base09: #ce9042
! base0A: #9ca748
! base0B: #50b584
! base0C: #00b3c2
! base0D: #61a3e6
! base0E: #a48fe1
! base0F: #d080b6

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #fff7ed, #fff7ed, #fffdfb

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #fff7ed, #636363, #fff7ed, #fff7ed, #181b1f
rofi.color-active:  #fff7ed, #61a3e6, #fff7ed, #fff7ed, #61a3e6
rofi.color-urgent:  #fff7ed, #df7f78, #fff7ed, #fff7ed, #df7f78

! Set the desired separator style
rofi.separator-style: solid
