! Base16 Brush Trees
! Author: Abraham White &lt;abelincoln.white@gmail.com&gt;

! base00: #e3efef
! base01: #c9dbdc
! base02: #b0c5c8
! base03: #98afb5
! base04: #8299a1
! base05: #6d828e
! base06: #5a6d7a
! base07: #485867
! base08: #b38686
! base09: #d8bba2
! base0A: #aab386
! base0B: #87b386
! base0C: #86b3b3
! base0D: #868cb3
! base0E: #b386b2
! base0F: #b39f9f

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #c9dbdc, #c9dbdc, #e3efef

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #c9dbdc, #6d828e, #c9dbdc, #c9dbdc, #485867
rofi.color-active:  #c9dbdc, #868cb3, #c9dbdc, #c9dbdc, #868cb3
rofi.color-urgent:  #c9dbdc, #b38686, #c9dbdc, #c9dbdc, #b38686

! Set the desired separator style
rofi.separator-style: solid
