! Base16 Black Metal (Khold)
! Author: metalelf0 (https://github.com/metalelf0)

! base00: #000000
! base01: #121212
! base02: #222222
! base03: #333333
! base04: #999999
! base05: #c1c1c1
! base06: #999999
! base07: #c1c1c1
! base08: #5f8787
! base09: #aaaaaa
! base0A: #974b46
! base0B: #eceee3
! base0C: #aaaaaa
! base0D: #888888
! base0E: #999999
! base0F: #444444

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #121212, #121212, #000000

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #121212, #c1c1c1, #121212, #121212, #c1c1c1
rofi.color-active:  #121212, #888888, #121212, #121212, #888888
rofi.color-urgent:  #121212, #5f8787, #121212, #121212, #5f8787

! Set the desired separator style
rofi.separator-style: solid
