! Base16 Fruit Soda
! Author: jozip

! base00: #f1ecf1
! base01: #e0dee0
! base02: #d8d5d5
! base03: #b5b4b6
! base04: #979598
! base05: #515151
! base06: #474545
! base07: #2d2c2c
! base08: #fe3e31
! base09: #fe6d08
! base0A: #f7e203
! base0B: #47f74c
! base0C: #0f9cfd
! base0D: #2931df
! base0E: #611fce
! base0F: #b16f40

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #e0dee0, #e0dee0, #f1ecf1

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #e0dee0, #515151, #e0dee0, #e0dee0, #2d2c2c
rofi.color-active:  #e0dee0, #2931df, #e0dee0, #e0dee0, #2931df
rofi.color-urgent:  #e0dee0, #fe3e31, #e0dee0, #e0dee0, #fe3e31

! Set the desired separator style
rofi.separator-style: solid
