! Base16 Equilibrium Dark
! Author: Carlo Abelli

! base00: #0c1118
! base01: #181c22
! base02: #22262d
! base03: #7b776e
! base04: #949088
! base05: #afaba2
! base06: #cac6bd
! base07: #e7e2d9
! base08: #f04339
! base09: #df5923
! base0A: #bb8801
! base0B: #7f8b00
! base0C: #00948b
! base0D: #008dd1
! base0E: #6a7fd2
! base0F: #e3488e

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #181c22, #181c22, #0c1118

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #181c22, #afaba2, #181c22, #181c22, #e7e2d9
rofi.color-active:  #181c22, #008dd1, #181c22, #181c22, #008dd1
rofi.color-urgent:  #181c22, #f04339, #181c22, #181c22, #f04339

! Set the desired separator style
rofi.separator-style: solid
