! Base16 Brush Trees Dark
! Author: Abraham White &lt;abelincoln.white@gmail.com&gt;

! base00: #485867
! base01: #5A6D7A
! base02: #6D828E
! base03: #8299A1
! base04: #98AFB5
! base05: #B0C5C8
! base06: #C9DBDC
! base07: #E3EFEF
! base08: #b38686
! base09: #d8bba2
! base0A: #aab386
! base0B: #87b386
! base0C: #86b3b3
! base0D: #868cb3
! base0E: #b386b2
! base0F: #b39f9f

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #5A6D7A, #5A6D7A, #485867

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #5A6D7A, #B0C5C8, #5A6D7A, #5A6D7A, #E3EFEF
rofi.color-active:  #5A6D7A, #868cb3, #5A6D7A, #5A6D7A, #868cb3
rofi.color-urgent:  #5A6D7A, #b38686, #5A6D7A, #5A6D7A, #b38686

! Set the desired separator style
rofi.separator-style: solid
