! Base16 Cerulean Signal Light
! Scheme author: Aaron Colichia (https://aaron.colichia.org/)
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #f7f9fc
! base01: #eef4fb
! base02: #dde7f1
! base03: #637287
! base04: #566579
! base05: #232b38
! base06: #202b3a
! base07: #141d2a
! base08: #b4233d
! base09: #9a4f00
! base0A: #6f6300
! base0B: #17795e
! base0C: #00727e
! base0D: #006fa8
! base0E: #a0007d
! base0F: #7a4e3c

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #eef4fb, #eef4fb, #f7f9fc

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #eef4fb, #232b38, #eef4fb, #eef4fb, #141d2a
rofi.color-active:  #eef4fb, #006fa8, #eef4fb, #eef4fb, #006fa8
rofi.color-urgent:  #eef4fb, #b4233d, #eef4fb, #eef4fb, #b4233d

! Set the desired separator style
rofi.separator-style: solid
