! Base16 Tomorrow Night
! Author: Chris Kempson (http://chriskempson.com)

! base00: #2d2d2d
! base01: #393939
! base02: #515151
! base03: #999999
! base04: #b4b7b4
! base05: #cccccc
! base06: #e0e0e0
! base07: #ffffff
! base08: #f2777a
! base09: #f99157
! base0A: #ffcc66
! base0B: #99cc99
! base0C: #66cccc
! base0D: #6699cc
! base0E: #cc99cc
! base0F: #a3685a

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #393939, #393939, #2d2d2d

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #393939, #cccccc, #393939, #393939, #ffffff
rofi.color-active:  #393939, #6699cc, #393939, #393939, #6699cc
rofi.color-urgent:  #393939, #f2777a, #393939, #393939, #f2777a

! Set the desired separator style
rofi.separator-style: solid
