! Base16 Ocean
! Author: Chris Kempson (http://chriskempson.com)

! base00: #2b303b
! base01: #343d46
! base02: #4f5b66
! base03: #65737e
! base04: #a7adba
! base05: #c0c5ce
! base06: #dfe1e8
! base07: #eff1f5
! base08: #bf616a
! base09: #d08770
! base0A: #ebcb8b
! base0B: #a3be8c
! base0C: #96b5b4
! base0D: #8fa1b3
! base0E: #b48ead
! base0F: #ab7967

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #343d46, #343d46, #2b303b

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #343d46, #c0c5ce, #343d46, #343d46, #eff1f5
rofi.color-active:  #343d46, #8fa1b3, #343d46, #343d46, #8fa1b3
rofi.color-urgent:  #343d46, #bf616a, #343d46, #343d46, #bf616a

! Set the desired separator style
rofi.separator-style: solid
