! Base16 tender
! Author: Jacobo Tabernero (https://github/com/jacoborus/tender.vim)

! base00: #282828
! base01: #383838
! base02: #484848
! base03: #4c4c4c
! base04: #b8b8b8
! base05: #eeeeee
! base06: #e8e8e8
! base07: #feffff
! base08: #f43753
! base09: #dc9656
! base0A: #ffc24b
! base0B: #c9d05c
! base0C: #73cef4
! base0D: #b3deef
! base0E: #d3b987
! base0F: #a16946

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #383838, #383838, #282828

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #383838, #eeeeee, #383838, #383838, #feffff
rofi.color-active:  #383838, #b3deef, #383838, #383838, #b3deef
rofi.color-urgent:  #383838, #f43753, #383838, #383838, #f43753

! Set the desired separator style
rofi.separator-style: solid
