! Base16 Neovim Dark
! Scheme author: https://github.com/neovim/neovim/blob/master/src/nvim/highlight_group.c
! Template author: Tinted Theming (https://github.com/tinted-theming)

! base00: #14161b
! base01: #07080d
! base02: #4f5258
! base03: #9b9ea4
! base04: #c4c6cd
! base05: #e0e2ea
! base06: #eef1f8
! base07: #eef1f8
! base08: #ffc0b9
! base09: #ffa500
! base0A: #fce094
! base0B: #b3f6c0
! base0C: #8cf8f7
! base0D: #a6dbff
! base0E: #ffcaff
! base0F: #cd853f

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #07080d, #07080d, #14161b

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #07080d, #e0e2ea, #07080d, #07080d, #eef1f8
rofi.color-active:  #07080d, #a6dbff, #07080d, #07080d, #a6dbff
rofi.color-urgent:  #07080d, #ffc0b9, #07080d, #07080d, #ffc0b9

! Set the desired separator style
rofi.separator-style: solid
